{% extends "base.html" %}
{% load event_custom_tags %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<style>
      * {
  box-sizing: border-box;
}
form {
  width: auto;
  min-width: 350px;
  /* min-width: 500px; */
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}
input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
}
.result-message {
  line-height: 22px;
  font-size: 16px;
}
.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}
.hidden {
  display: none;
}
#card-error {
  color: rgb(105, 115, 134);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}
#card-element {
  border-radius: 4px 4px 0 0 ;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}
#payment-request-button {
  margin-bottom: 32px;
}
/* Buttons and links */
button {
  background: #5469d4;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
button:hover {
  filter: contrast(115%);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}
/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
</style>
{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
    {% csrf_token %}
<div class="card mb-2 shadow">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong>Event Date: </strong>{{event.start}}
            </div>
            <div class="col-md-6">
                <strong>Organization: </strong>{{event.organization}}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <h5>{{event.user_org}}</h5>
            {{event.detail.address_1}} <br>
            {% if event.detail.address_2%}
                {{event.detail.address_2}} <br>
            {% endif %}
            {{event.detail.city}}, {{event.detail.state}} {{event.detail.postal_code}} <br>
            {% if admin %}
            {{event.detail.phone}} <br>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        {% for item in cart.cart_items.all %}
        
        <div class="container">
            <div class="row py-2 align-items-center" id="row_{{item.id}}">
                <div class="col-sm-12 col-md-6">{{forloop.counter}})&#160;&#160;
                    {% with item.product.image_product.all|first as image %}
                        {% if image %}
                            <img src="{{ image.thumbnail.url }}" alt="" width="50px">
                            
                        {% endif %}
                    {% endwith %}
                    &#160;&#160;<span class="">{{ item.product.name }}</span> 
                </div>
                <div class="col-sm-12 col-md-6 text-right">QTY {{item.product|get_qty:event}} 
                    {% if admin or event_admin %}
                    @ ${{ item.product.price }}<span style="font-size: 12px;">{{ item.unit }}</span>
                        = {{item.product|get_item_total:event}}
                    {% endif %}
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
    <div class="card-footer">
        <div class="row">
            {% if admin or event_admin %}
            <div class="col-12 text-right">
                <span class="small"></span>&#160;&#160;<strong>Total Cost:</strong> ${{ cart|cart_total }}
            </div>
            {% endif %}
        </div>
        

    </div>
</div>
<div>
  <script>
      const intentURL = "{% url 'App_Organization:payment_intent' cart.pk %}" 
      const cartId = {{cart.pk}}
      const successURL = "{{ successURL }}"
  </script>
  <form id="payment-form">
      <div class="form-row">
        <div class="col">
          <input type="text" id="email" placeholder="Email address" value="{{ user.email }}"/>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <input type="text" id="fname" placeholder="First Name" value="{% if user.profile.first_name %}{{ user.profile.first_name }}{% endif %}">
        </div>
        <div class="col">
          <input type="text" id="lname" placeholder="Last Name" value="{% if user.profile.last_name %}{{ user.profile.last_name }}{% endif %}">
        </div>
      </div>
      <div class="form-row mb-2 text-center">
        <div class="col">
          <input id="phone" type="tel" name="phone" />
        </div>
      </div>
      <div id="card-element"><!--Stripe.js injects the Card Element--></div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay</span>
      </button>
      <p id="card-error" role="alert" class="text-danger"></p>
      <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
      </p>
    </form>
</div>
{% endblock %}

{% block script_block %}
{{block.super}}
<script>
  const phoneInputField = document.querySelector("#phone");
  const phoneInput = window.intlTelInput(phoneInputField, {
    utilsScript:
      "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
  });
</script>

<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
var stripe = Stripe("{{ key }}");
document.querySelector("button").disabled = true;
var elements = stripe.elements();
var style = {
  base: {
    color: "#32325d",
    fontFamily: 'Arial, sans-serif',
    fontSmoothing: "antialiased",
    fontSize: "16px",
    "::placeholder": {
      color: "#32325d"
    }
  },
  invalid: {
    fontFamily: 'Arial, sans-serif',
    color: "#fa755a",
    iconColor: "#fa755a"
  }
};
var phoneField = document.querySelector('#phone')
phoneField.addEventListener("input", function(event) {
  if (phoneInput.isValidNumber()) {
    console.log('Valid Number ' + phoneInputField.value)
  } else {
    showError('Phone Number Invalid')
    document.querySelector("button").disabled = true
  }
})
var card = elements.create("card", { style: style });
card.mount("#card-element");
card.on("change", function (event) {
  // Disable the Pay button if there are no card details in the Element
  document.querySelector("button").disabled = event.empty;
  document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
});
var form = document.getElementById("payment-form");
form.addEventListener("submit", function(event) {
  event.preventDefault();
  
  if (phoneInput.isValidNumber()) {
    var phoneNumber = phoneInput.getNumber();
  } else {
    var phoneNumber = ""
  }
  // Complete payment when the submit button is clicked
  fetch(intentURL, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify({
      'email': document.querySelector("#email").value,
      'first': document.querySelector("#fname").value,
      'last': document.querySelector("#lname").value,
      'phone': phoneNumber,
      'cartId': cartId
    })
  })
    .then(function(result) {
      return result.json();
    })
    .then(function(data) {
      payWithCard(stripe, card, data.clientSecret);
    });
});

// Calls stripe.confirmCardPayment
// If the card requires authentication Stripe shows a pop-up modal to
// prompt the user to enter authentication details without leaving your page.
var payWithCard = function(stripe, card, clientSecret) {
  loading(true);
  stripe
    .confirmCardPayment(clientSecret, {
      payment_method: {
        card: card
      }
    })
    .then(function(result) {
      if (result.error) {
        // Show error to your customer
        showError(result.error.message);
      } else {
        // The payment succeeded!
        orderComplete(result.paymentIntent.id);
        window.location.href = successURL;

      }
    });
};
/* ------- UI helpers ------- */
// Shows a success message when the payment is complete
var orderComplete = function(paymentIntentId) {
  loading(false);
  document
    .querySelector(".result-message a")
    .setAttribute(
      "href",
      "https://dashboard.stripe.com/test/payments/" + paymentIntentId
    );
  document.querySelector(".result-message").classList.remove("hidden");
  document.querySelector("button").disabled = true;
};
// Show the customer the error from Stripe if their card fails to charge
var showError = function(errorMsgText) {
  loading(false);
  var errorMsg = document.querySelector("#card-error");
  errorMsg.textContent = errorMsgText;
  setTimeout(function() {
    errorMsg.textContent = "";
  }, 4000);
};
// Show a spinner on payment submission
var loading = function(isLoading) {
  if (isLoading) {
    // Disable the button and show a spinner
    document.querySelector("button").disabled = true;
    document.querySelector("#spinner").classList.remove("hidden");
    document.querySelector("#button-text").classList.add("hidden");
  } else {
    document.querySelector("button").disabled = false;
    document.querySelector("#spinner").classList.add("hidden");
    document.querySelector("#button-text").classList.remove("hidden");
  }
};
</script>
{% endblock %}