{% extends "base.html" %}
{%  load crispy_forms_tags %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block css_block %}
{% endblock %}

{% block body_block %}
    <h3>Add Product</h3>
    <form method="POST">
        {{ form|crispy }}
        {% csrf_token %}
        <input type="submit" name="submit" value="Add Product" class="btn btn-success btn-sm"/>
    </form>
{% endblock %}
{% block script_block %}
{{block.super}}
{% endblock %}