{% extends "base.html" %}
{% load static %}
{%  load crispy_forms_tags %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/dropzone.css' %}">
{% endblock %}

{% block body_block %}
<h6>{{product.organization.organization_name}} > {{ product.name }} > <span class="h5">Add Images</span></h6>

    <div class="container post-container pt-1">

        <div class="card shadow bg-white mt-3 mb-3">
            <div class="card-body">
                <form action="{% url 'App_Shop:upload' slug=slug pk=pk %}" method="POST" class="dropzone" enctype="multipart/form-data" id="my-awesome-dropzone">
                    <div class="dz-message" data-dz-message><span>Click or Drop your images here.</span></div>
                    {% csrf_token %}
                    <div class="fallback">
                      <input name="file" type="file" multiple />
                      
                    </div>
                  </form>
            </div>
            <div class="card-footer">
                <div>
                    <button class="btn btn-primary w-100" type="submit" id="submit-all">Add Images</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_block %}
{{block.super}}
<script src="{% static 'js/dropzone.js' %}"></script>
<script>
    Dropzone.autoDiscover = false;
    if ($("#my-awesome-dropzone").length > 0){
    var myyDropzone = new Dropzone("#my-awesome-dropzone", {
        url: "{% url 'App_Shop:upload' slug=slug pk=pk %}",
        autoProcessQueue: false,
        method: "post",
        maxFiles: 10,
        addRemoveLinks: true,
        uploadMultiple: true,
        parallelUploads: 10,
        acceptedFiles: 'image/*',

        init: function () {
            var myDropzone = this;
            var addButton = document.querySelector("#submit-all");

            // First change the button to actually tell Dropzone to process the queue.
            addButton.addEventListener("click", function (e) {
                // Make sure that the form isn't actually being sent.
                e.preventDefault();
                e.stopPropagation();
                if (myDropzone.getQueuedFiles().length > 0) {
                    myDropzone.processQueue();
                } else {
                    $(".dropzone").submit();
                }
            });

            this.on("successmultiple", function (files, response) {
                setTimeout(function () {
                    $(".dropzone").submit();
                }, 1000);
            });
        },
        sending: function (file, xhr, formData) {
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            formData.append("image", file.name);
        }
    });
}
</script>
{% endblock %}