{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}
{% block body_block %}
        <div class="row pb-2">
            <div class="col-md-6 mx-0">
                <div class="row">
                    <div class="col-12 p-0">
                        {% with product.image_product.all|first as image %}
                            {% if image %}
                                    <img class="img-fluid" src="{{ image.image.url }}" alt="">
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="row p-0">
                        <div class="col-12">
                            <div class="container">
                                <div class="row flex-row flex-nowrap" style="width: auto; overflow: hidden;">
                                    {% with product.image_product.all as images %}
                                    {% if images %}
                                    {% for image in images %}
                                    <span class="pr-1">
                                        <img src="{{image.thumbnail.url}}" alt="">
                                    </span>
                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-12 h5">{{product.name}}</div>
                </div>
                <div class="row">
                    <div class="col-12">{{product.short_description}}</div>
                </div>
                <div class="row">
                    <div class="col-12">${{product.price}}{{product.unit.short_name}}</div>
                </div>
                <div class="row">
                    <div class="col-12">{{product.description}}</div>
                </div>
            </div>
        </div>
{% endblock %}
{% block script_block %}
{{block.super}}
{% endblock %}