{% extends "base.html" %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block css_block %}
{% endblock %}
{% block body_block %}
<div class="row border-bottom mb-1">
    <div class="col-3"></div>
    <div class="col-5 font-weight-bold">Name</div>
    <div class="col-2 font-weight-bold text-right">Price</div>
    <div class="col-2 font-weight-bold">Unit</div>
</div>
{% for product in products %}
<div class="row border-bottom mb-1 align-items-center">
    <div class="col-3">
        {% with product.image_product.all|first as image %}
            {% if image %}
                <a href="{% url 'App_Organization:product_detail' product.organization.slug product.pk%}">
                    <img class="w-100" src="{{ image.thumbnail.url }}" alt="">
                </a>
            {% endif %}
        {% endwith %} 
    </div>
    <div class="col-5"><span class="h6">{{ product.name }}</span> 
        <br>{{ product.product_type }}
    </div>
    <div class="col-2 text-right">${{ product.price }}</div>
    <div class="col-2">{{ product.unit }}</div>
</div>
{% endfor %}

{% endblock %}
{% block script_block %}
{{block.super}}
{% endblock %}