{% extends "base.html" %}
{% load event_custom_tags %}

{% block extrahead %}

{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
    {% csrf_token %}
{% for cart in event_carts %}
{% if request.user|is_event_staff:cart.event and allow_init and not event.initialized %}
<div class="row mb-2">
    <div class="col">
        <a href="{% url 'App_Event:initialize' event.pk %}" class="btn btn-info shadow" {% if not allow_init %}disabled{% endif %}>Initialize Event</a>
    </div>
</div>
{% endif %}
<h5>
    {{event.organization.organization_name}} Event #{{event.id}}
</h5>
<div class="card mb-2 shadow">
    <div class="card-header pb-1">
        <ul class="nav nav-tabs card-header-tabs" id="event-list" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#detail" role="tab" aria-controls="detail" aria-selected="true">Detail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#registration" role="tab" aria-controls="registration" aria-selected="false">Subevents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#staff" role="tab" aria-controls="staff" aria-selected="false">Staff</a>
            </li>
        </ul>
        {% if not event.is_expired %}
        <div class="row mb-2">
        </div>
        {% endif %}

    </div>
    <div class="card-body">
        {% if admin and not event.approved %}
            <div class="row">
                <div class="col-12">
                        <a class="btn btn-success btn-sm" href="{% url 'App_Organization:event_approve' event.organization.slug event.pk %}">Approve</a>
                </div>
            </div>
        {% endif %}
        <div class="row mb-3">
            <div class="col-md-6">

                <strong>Event Date: </strong>{{event.start}}
            </div>
            <div class="col-md-6">
                <strong>Organization: </strong>{{event.organization}}
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                <div class="row">
                    <div class="col-12">
                        {{event.user_org}} <br>
                        {{event.detail.address_1}} <br>
                        {% if event.detail.address_2%}
                            {{event.detail.address_2}} <br>
                        {% endif %}
                        {{event.detail.city}}, {{event.detail.state}} &nbsp;{{event.detail.postal_code}} <br>
                        
                        {% if admin %}
                        {{event.detail.phone}} <br>
                        {% endif %}
                    </div>
                </div>
        
                {% for item in cart.cart.cart_items.all %}
                <div class="pt-3">
                    <div class="row py-2 align-items-center" id="row_{{item.id}}">
                        <div class="col-sm-12 col-md-6">{{forloop.counter}})&#160;&#160;
                            {% with item.product.image_product.all|first as image %}
                                {% if image %}
                                    <img src="{{ image.thumbnail.url }}" alt="" width="50px">
                                    
                                {% endif %}
                            {% endwith %}
                            &#160;&#160;<span class="">{{ item.product.name }}</span> 
                        </div>
                        <div class="col-sm-12 col-md-6 text-right">QTY {{item.product|get_qty:event}} 
                            {% if admin or event_admin %}
                            @ ${{ item.product.price }}<span style="font-size: 12px;">{{ item.unit }}</span>
                                = {{item.product|get_item_total:event}}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if admin or event_admin %}
                <div class="py-2">
                    <div class="row">
                        <div class="col-12">
                            Additional Requests:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{event.detail.requests}}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    {% if admin or event_admin %}
                    <div class="col-12 text-right">
                        <strong>Total Cost:</strong> ${{ cart|cart_total }}
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    {% if admin or event_admin %}
                    <div class="col-12 text-right">
                        <span class="small">(Does not include taxes and fees)</span>
                    </div>
                    {% endif %}
                </div>
                {% if event_admin %}
                    <div class="row">
                        {% for invoice in invoices %}
                            {% if invoice|get_invoice_url:cart.cart.id %}
                                <div class="col-12 text-right">
                                    <a class="btn btn-secondary btn-sm" href="{{invoice|get_invoice_url:cart.cart.id}}">Invoice Link</a>
                                </div>
                                <div class="col-12 text-right">Status: <strong>{{invoice|get_invoice_status:cart.cart.id}}</strong></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="staff" role="tabpanel" aria-labelledby="staff-tab">
                {% if event_staff_spots %}
                    <div class="row mb-2">
                        <div id="staff-toggle" class="col-12 text-right">
                            {% if admin %}
                                {% if not event.allow_staff_registration %}
                                    <a href="{% url 'App_Organization:staff_toggle' event.organization.slug event.pk %}" class="btn btn-success btn-sm">Open Staff Registration</a>
                                {% else %}
                                    <a href="{% url 'App_Organization:staff_toggle' event.organization.slug event.pk %}" class="btn btn-danger btn-sm">Close Staff Registration</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row border-bottom">
                        <div class="col-4 font-weight-bold">
                            Staff Role
                        </div>
                        <div class="col-4 font-weight-bold">
                            Assigned
                        </div>
                    </div>
                
                    {% for spot in event_staff_spots %}
                        <div class="row py-1">
                            <div class="col-4">
                                {{spot.product.role}} <br>
                                {{spot.product.name}}
                            </div>
                            <div class="col-5">
                                {% if spot.user %}
                                    {{spot.user.profile.get_profile_firstlast}}
                                {% else %}
                                    {{spot.user}}
                                {% endif %}
                            </div>
                            <div class="col-3">
                                {% if not is_event_staff and event.allow_staff_registration %}
                                    <a href="{% url 'App_Organization:staff_add' event.organization.slug spot.pk%}" class="btn btn-primary btn-sm">Add Me</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row border-bottom">
                        <div class="col-4 font-weight-bold">
                            Staff Role
                        </div>
                        <div class="col-4 font-weight-bold">
                            Assigned
                        </div>
                    </div>
                    {% for staff in event_staff %}
                        <div class="row py-1">
                            <div class="col-4">
                                {{staff.product.role}} <br>
                                {{staff.product.name}}
                            </div>
                            <div class="col-5">
                                {% if staff.user %}
                                    {{staff.user.profile.get_profile_firstlast}}
                                {% else %}
                                    {{staff.user}}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="tab-pane fade" id="registration" role="tabpanel" aria-labelledby="registration-tab">
                {% if event.initialized %}
                    <div class="row border-bottom mb-1">
                        <div class="col-6">
                            <small><strong>Subevent</strong></small>
                        </div>
                        <div class="col-3">
                            <small><strong>Registered</strong></small>
                        </div>
                        <div class="col-3">
                            <small><strong>Action</strong></small>
                        </div>
                    </div>
                    {% for subevent in event.subevents.all|order_by:"created_date" %}
                        <div class="row mb-1">
                            <div class="col-6">
                                <a href="{% url 'App_Event:sub_review' subevent.pk %}">{{subevent.type}}</a>
                                <br>
                                <small>Registration {{subevent.get_status_display}}</small>
                                <br>
                                {% if subevent.game %}
                                    <small><em>{{subevent.game.game_type}}</em></small>    
                                {% endif %}
                            </div>
                            <div class="col-3">
                                {{subevent.subevent_reg.count}}
                            </div>
                            <div class="col-3">
                                {% if is_event_staff and subevent.needs_config %}
                                <a href="#" class="btn btn-secondary btn-sm">Configure</a>
                                {% endif %}
                                {% if subevent.allow_reg %}
                                <div class="text-center mx-auto">
                                    {% if subevent|is_subevent_registered:request.user %}
                                        <a href="{% url 'App_Event:reg_toggle' subevent.pk %}" class="btn btn-secondary btn-sm" style="width: 100%;"><small>Unregister</small></a>
                                    {% else %}
                                        {% if not request.user|is_registered_any %}
                                            <a href="{% url 'App_Event:reg_toggle' subevent.pk %}" class="btn btn-primary btn-sm" style="width: 100%;">Register</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-12">
                                <div id="subevent-message">
                                    {% if subevent.needs_config %}
                                        <span style="font-size: 14px;"><em>This subevent has not yet been configured and has no games linked.</em></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        
                    {% endfor %}
                    <div class="row pt-2 mt-3 border-top">
                        <div class="col-6 text-center">
                            <div id="notification-error" class="alert alert-danger d-none"></div>
                            <div id="notification-success" class="alert alert-success d-none"></div>
                        </div>
                        <div class="col-6 text-right">
                            {% if open_equip and is_event_staff %}
                                {% csrf_token %}
                                <div id="subevent-add">
                                    <button id="add-subevent" class="btn btn-success btn-sm">
                                        <i class="fa fa-plus-square"></i>
                                    </button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}



{% endblock %}

{% block script_block %}
{{block.super}}
<script>
    $('#event-list a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
{% if open_equip %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    $("#add-subevent").on('click', function (e) {
        console.log('Adding Subevent');
        addSubevent();
    })

    function addSubevent() {
        $("#add-subevent").attr("disabled", true)
        $('#add-subevent').html("<i class='fa fa-spinner fa-spin'></i>").attr("disabled", "");
        ajaxUrl = "{% url 'App_Event:add_subevent'%}"
        data = {
            eventId: parseInt("{{event.pk}}"),
        };
        $.ajax({
            url: ajaxUrl,
            type: "POST",
            headers: {'X-CSRFToken': csrftoken},
            data: data,
            success: function(json) {
                console.log(json)
                $('#notification-success').text('Subevent Created!');
                $('#notification-success').removeClass('d-none');
                nextPage(1500, json['successUrl']);
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            },
        });
    }
</script>
{% endif %}
{% endblock %}