{% extends "base.html" %}
{% load event_custom_tags %}

{% block extrahead %}
{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}

{% for event in user_events %}
<div class="card mb-2 shadow">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <small>
                <strong>Event Date: </strong>{{event.start}} <br>
                <strong>{{event.organization.orgtype.orgtype}}: </strong>{{event.organization}}
                </small>
            </div>
                {% if event.fulfilled %}
                <div class="col-4 alert alert-secondary">
                Fulfilled
                <div class="col-4 alert alert-success">
                Approved
                {% elif event.submitted %}
                <div class="col-4 alert alert-warning">
                Pending
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    {% if event.user_org %}
                    <span class="h5">{{event.user_org}}</span> <br>
                    {% endif %}
                    {{event.detail.address_1}} <br>
                    {% if event.detail.address_2%}
                        {{event.detail.address_2}} <br>
                    {% endif %}
                    {{event.detail.city}}, 
                    {{event.detail.state}} <br>
                    {{event.detail.postal_code}} <br>
                    {{event.detail.phone}} <br>
                </div>
                <div class="col-6">
                    {% for cart in event.event_cart.all %}
                        {% for item in cart.get_cart_items %}
                            {{item.product.name}} X {{item.quantity}} <br>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="row pt-2">
                    <div class="col-12">
                        Additional Requests:
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{event_details.requests}}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
    
{% endfor %}

{% endblock %}

{% block script_block %}
{{block.super}}
{% endblock %}