{% extends "base.html" %}

{%  load crispy_forms_tags %}

{% block extrahead %}

{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
<div class="jumbotron jumbotron-fluid my-0" style="background:transparent !important">
    <h1 class="display-4">Event Details</h1>
    <p class="lead">Enter or verify the venue information for the event.</p>
    <hr class="my-2">
    <span class="h6 text-muted align-middle">{{organization.organization_name}}</span>
    <span><i class="fa fa-chevron-right fa-1x align-bottom text-muted"></i></span>
    <span class="h6 align-middle text-muted">Event</span>
    <span><i class="fa fa-chevron-right fa-1x align-bottom text-muted"></i></span>
    <span class="h6 align-middle font-weight-bold">Event Details</span>
</div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row">
            <div class="col-12 text-right">
                <input type="submit" name="submit" value="Next: Add Event Services" class="btn btn-success btn-sm"/>
            </div>
        </div>
    </form>
{% endblock %}

{% block script_block %}
{{block.super}}

{% endblock %}