{% extends "base.html" %}
{% load event_custom_tags %}
{% load crispy_forms_tags %}

{% block extrahead %}

{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
{% csrf_token %}
<div class="jumbotron jumbotron-fluid my-0" style="background:transparent !important">
    <h1 class="display-4">Add Event Services</h1>
    <p class="lead">Choose services for your event</p>
    <hr class="my-2">
    <span class="h6 text-muted align-middle">{{organization.organization_name}}</span>
    <span><i class="fa fa-chevron-right fa-1x align-bottom text-muted"></i></span>
    <span class="h6 align-middle text-muted">Event</span>
    <span><i class="fa fa-chevron-right fa-1x align-bottom text-muted"></i></span>
    <span class="h6 align-middle text-muted">Event Details</span>
    <span><i class="fa fa-chevron-right fa-1x align-bottom text-muted"></i></span>
    <span class="h6 align-middle font-weight-bold">Event Services</span>
</div>

<div class="row border-bottom">
    <div class="col-2"></div>
    <div class="col-4 font-weight-bold">Name</div>
    <div class="col-2 font-weight-bold text-right">Price</div>
    <div class="col-1 font-weight-bold text-center">Qty</div>
    <div class="col-3"></div>
    
</div>
{% for product in products %}
<div class="row border-bottom py-2 align-items-center" id="row_{{product.id}}">
    <div class="col-2">
        {% with product.image_product.all|first as image %}
            {% if image %}
                <a href="{% url 'App_Organization:product_detail' product.organization.slug product.pk%}">
                    <img class="w-100" src="{{ image.thumbnail.url }}" alt="">
                </a>
            {% endif %}
        {% endwith %} 
    </div>
    <div class="col-4"><span class="h6">{{ product.name }}</span> 
    </div>
    <div class="col-2 text-right">${{ product.price }}<br><span style="font-size: 12px;">{{ product.unit }}</span></div>
    
    <div class="col-1">
        <span class="px-2" style="font-size: 18px;" id="qty_{{product.id}}">
            {{product|get_qty:event}}
        </span>
    </div>
    <div class="col-3 text-center">
        <button onclick="updateItem(product={{product.id}}, updateURL='{% url 'App_Organization:event_cart_remove' slug=organization.slug pk=event.pk %}')" class="btn btn-danger btn-sm" >
            <i class="fa fa-minus-square"></i>
        </button>&nbsp;
        <button onclick="updateItem(product={{product.id}}, updateURL='{% url 'App_Organization:event_cart_add' slug=organization.slug pk=event.pk %}')" class="btn btn-success btn-sm" >
            <i class="fa fa-plus-square"></i>
        </button>
    </div>

    
</div>
{% endfor %}
<div class="row pt-2">
    <div class="col-12 text-right">
        <div id="change-me">
            Total: <span class="font-weight-bold" id="cart-total">${{ cart_total|floatformat:2 }}</span>
        </div>
    </div>
</div>
<div class="row pt-2">
    <div class="col-6 text-left">
        <a href="{% url 'App_Organization:new_event_detail' slug=organization.slug pk=event.pk%}" class="btn btn-danger btn-sm">Back: Event Details</a>
    </div>
    <div class="col-6 text-right">
        <a href="{% url 'App_Organization:event_review' slug=organization.slug pk=event.pk%}" class="btn btn-success btn-sm">Next: Review Your Event</a>
    </div>
</div>
{% endblock %}

{% block script_block %}
{{block.super}}
<script>
function updateItem(product, updateURL) {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    var qty_text = $("#qty_"+product)
    var cart_total = $('#cart-total')
        $.ajax({
            url: updateURL,
            method: "POST",
            headers: {'X-CSRFToken': csrftoken},
            data: {
                'product_id': product
            },
            success: function (data) {
                console.log(data);
                qty_text.text(data['product_qty']);
                cart_total.text(data['cart_total'])

            }
         });
    };
</script>
{% endblock %}