{% extends "base.html" %}
{% load event_custom_tags %}

{% block extrahead %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
<div class="jumbotron jumbotron-fluid my-0" style="background:transparent !important">
    <h1 class="display-4">Review Your Event</h1>
    <p class="lead">Check your event details and services before we proceed to checkout and submit your request to {{event.organization.organization_name}}.</p>
    <hr class="my-2">
    <span class="h6 text-muted align-middle">{{event.organization.organization_name}}</span>
    <span><i class="fa fa-chevron-right fa-1x align-bottom text-muted"></i></span>
    <span class="h6 align-middle text-muted">Event</span>
    <span><i class="fa fa-chevron-right fa-1x align-bottom text-muted"></i></span>
    <span class="h6 align-middle text-muted">Event Details</span>
    <span><i class="fa fa-chevron-right fa-1x align-bottom text-muted"></i></span>
    <span class="h6 align-middle text-muted">Event Services</span>
    <span><i class="fa fa-chevron-right fa-1x align-bottom text-muted"></i></span>
    <span class="h6 align-middle font-weight-bold">Final Review</span>
</div>
{% for cart in carts %}
<div class="card mb-2 shadow">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong>Event Date: </strong>{{event.start}}
            </div>
            <div class="col-md-6">
                <strong>Organization: </strong>{{event.organization}}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <h5>{{event.user_org}}</h5>
            {{event_details.address_1}} <br>
            {% if event_details.address_2%}
                {{event_details.address_2}} <br>
            {% endif %}
            {{event_details.city}} <br>
            {{event_details.state}} <br>
            {{event_details.postal_code}} <br>
            {{event_details.phone}} <br>
        </div>
    </div>
    <div class="card-body">
        {% for item in cart.cart_items.all %}
        <div class="container">
            <div class="row py-2 align-items-center" id="row_{{item.id}}">
                <div class="col-sm-12 col-md-6">{{forloop.counter}})&#160;&#160;
                    {% with item.product.image_product.all|first as image %}
                        {% if image %}
                            <img src="{{ image.thumbnail.url }}" alt="" width="50px">
                            
                        {% endif %}
                    {% endwith %}
                    &#160;&#160;<span class="">{{ item.product.name }}</span> 
                </div>
                <div class="col-sm-12 col-md-6 text-right">QTY {{item.product|get_qty:event}} @ ${{ item.product.price }}<span style="font-size: 12px;">{{ item.unit }}</span>
                        = {{item.product|get_item_total:event}}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-12">
                Additional Requests:
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{event_details.requests}}
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-12 text-right">
                <span class="small">(Does not include taxes and fees)</span>&#160;&#160;<strong>Total Cost:</strong> ${{ cart|cart_total }}
            </div>
        </div>
        
    </div>
</div>
<div class="row pt-2">
    <div class="col-6 text-left">
        <a href="{% url 'App_Organization:new_event_cart' slug=event.organization.slug pk=event.pk%}" class="btn btn-danger btn-sm">Back: Event Services</a>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-success btn-sm" href="{% url 'App_Organization:create_invoice' cart.pk %}" >Submit Event</a>
    </div>
</div>
{% csrf_token %}
{% endfor %}



{% endblock %}

{% block script_block %}
{{block.super}}

{% endblock %}