{% extends "base.html" %}
{% load event_custom_tags %}
{% load tz %}
{% load static %}
{%  load crispy_forms_tags %}

{% block extrahead %}

{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
<h5><a href="{% url 'App_Organization:event_org_review' subevent.event.organization.slug subevent.event.pk %}">{{subevent.event.organization.organization_name}} Event #{{subevent.event.id}}</a> > {{ subevent.type }}</h5>
<div class="card shadow mb-3">
    <div class="card-header">
    <style>
        .nav-tabs .nav-item .nav-link {
            margin-left: 1px;
            margin-right: 1px;
            padding: 5px;
        }
    </style>
        <ul class="nav nav-tabs card-header-tabs" id="subevent-list" role="tablist">
            <li class="nav-item">
                <a id="detail-link" class="nav-link active" href="#detail" role="tab" aria-controls="detail" aria-selected="true">Detail</a>
            </li>
            {% if subevent.game %}
                {% if not subevent.finalized %}
                    <li class="nav-item">
                        <a id="sections-link" class="nav-link" href="#equipment" role="tab" aria-controls="equipment" aria-selected="false">Sections</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a id="rankings-link" class="nav-link" href="#rankings" role="tab" aria-controls="rankings" aria-selected="false">Rankings</a>
                </li>
            {% endif %}
            {% if request.user|is_event_staff:subevent.event %}
                <li class="nav-item">
                    <a id="actions-link" class="nav-link" href="#actions" role="tab" aria-controls="actions" aria-selected="false">Actions</a>
                </li>
                <li class="nav-item">
                    <a id="registration-link" class="nav-link" href="#registration" role="tab" aria-controls="registration" aria-selected="false">Registration</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body">
        {% if subevent.finalized %}
            <div class="row mb-3">
                <div class="col-12 alert alert-info">
                    This Subevent/Game has been finalized.
                </div>
            </div>
        {% endif %}
        <div class="row mb-3">
            <div class="col-md-6">
                <small><strong>Event Date: </strong>{{subevent.event.start}}</small>
            </div>
            <div class="col-md-6">
                <strong>Organization: </strong>{{subevent.event.organization}}
            </div>
            {% if subevent.game.start %}
                <div class="col-md-6">
                    <small><strong>Subevent Start: </strong>{{subevent.game.start|localtime}}</small>
                </div>
                <div class="col-md-6">
                    {% if subevent.game.end %}
                        <small><strong>Subevent End: </strong>{{subevent.game.end|localtime}}</small>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        
        <div class="tab-content">
            <div class="tab-pane active" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                <div class="row">
                    <div class="col-6">
                        
                    </div>
                    <div class="col-6">
                        
                    </div>
                </div>
                {% if subevent.game %}
                <div class="row">
                    <div class="col-6">
                        <small><strong>Game Type:</strong></small> 
                    </div>
                    <div class="col-6 text-right">
                        {{subevent.game.game_type}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <small><strong>Current Empty Seats:</strong></small> 
                    </div>
                    <div class="col-2 text-right">
                        {{game_seats|seats_empty:True}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <small><strong>Current Filled Seats:</strong></small> 
                    </div>
                    <div class="col-2 text-right">
                        {{game_seats|seats_empty:False}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <small><strong>Current Total Seats:</strong></small>
                    </div>
                    <div class="col-2 text-right">
                        {{game_seats|length}} <br>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-10 font-weight-bold">
                        <strong>Total Registered Users:</strong> 
                    </div>
                    <div class="col-2 mb-auto text-right">
                        {{ registered_users|length }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 font-weight-bold">
                        <strong>Total Ranked Users:</strong><br>
                        <small><em>(User completed subevent)</em></small>
                    </div>
                    <div class="col-2 mb-auto text-right">
                        {{ ranked_users|length }}
                    </div>
                </div>
                {% endif %}
            </div>
            {% if subevent.game %}
            <div class="tab-pane" id="equipment" role="tabpanel" aria-labelledby="equipment-tab" {% if subevent.finalized %}disabled{% endif %}>
                <div class="row">
                    <div class="col-6">
                        
                    </div>
                    <div class="col-3">
                        <strong><small>Filled</small></strong>
                    </div>
                    <div class="col-3">
                        <strong><small>Total</small></strong>
                    </div>
                </div>
                {% for equip in subevent.game.game_equip.all %}
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'App_Game:game_section' equip.pk %}">
                            {{equip.equip.product.name}} #{{equip.label}}
                        </a>
                    </div>
                    <div class="col-3">
                        {{equip.filled_seats}}
                    </div>
                    <div class="col-3">
                        {{equip.total_seats}}
                    </div>
                </div>
                {% endfor %}
                <hr>
                <div class="row">
                    <div class="col-6 text-right">
                        <strong><small>Game Total:</small></strong>
                    </div>
                    <div class="col-3">
                        {{game_seats|seats_empty:False}}
                    </div>
                    <div class="col-3">
                        {{game_seats|length}}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="actions" role="tabpanel" aria-labelledby="actions-tab">
                <div class="row mb-2">
                    <div class="col-12 mx-auto text-center">
                        
                            {% if not subevent.game.start %}
                                <a href="{% url 'App_Game:start' subevent.game.pk %}" class="btn btn-info" style="width: 95%;">Start Game</a>
                            {% endif %}
                       
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 mx-auto text-center">
                        
                        {% if not subevent.finalized %}
                            {% if subevent|check_registration_status:"open" %}
                                <a href="{% url 'App_Event:allow_reg_toggle' subevent.pk %}" class="btn btn-danger" style="width: 95%;">Close Registration</a>
                            {% endif %}
                            {%if subevent|check_registration_status:"closed" %}
                                <a href="{% url 'App_Event:allow_reg_toggle' subevent.pk %}" class="btn btn-success" style="width: 95%;">Open Registration</a>
                            {% endif %}
                        {% endif %}
                        
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="mx-auto">
                            {% if allow_finalize and not subevent.finalized %}
                                <a href="{% url 'App_Event:sub_finalize' subevent.pk %}" class="btn btn-secondary" style="width: 95%;">Finalize Subevent</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="rankings" role="tabpanel" aria-labelledby="rankings-tab">
                <style>
                    .trimText {
                        white-space: nowrap;
                        overflow: hidden; 
                        text-overflow: ellipsis
                    }
                    .rankrow:nth-child(even) {
                        background-color: #ddd;
                    }
                    .rankrow:nth-child(odd) {
                        background-color: #fff;
                    }
                </style>
                {%if not ranked_users %}
                    <div class="row">
                        <div class="col-12 text-center">
                            There are no ranked users for this subevent/game.
                        </div>
                    </div>
                {% endif %}
                {% for user in ranked_users %}
                
                <div class="rankrow row pb-2">
                    <div class="col-6 trimText">
                        {% if not subevent.finalized %}
                        <small>{{user.created|date:'H:i:s'}}</small> <br>
                        {% endif %}
                        {{user.registration.user.profile.display_name}}
                    </div>
                    <div class="col-2 mt-auto">
                        {% if user.rank %}
                            {{user.rank}}
                        {% endif %}
                    </div>
                    <div class="col-2 mt-auto">
                        {% if user.rank %}
                            {{user.points}}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                
            </div>
            <div class="tab-pane" id="registration" role="tabpanel" aria-labelledby="registration-tab">
                <div id="notification-error" class="alert alert-danger d-none"></div>
                <div id="notification-success" class="alert alert-success d-none"></div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 my-1">
                        <div id="move_wrapper" class="d-none">
                            <select class="select form-control" name="game_equips" id="game_equips">
                                <option value="empty">-------</option>
                                {% for equip in game_equip.all %}
                                    <option value="{{equip.id}}">
                                        {{equip.equip.product.name}}: {{equip.label}}
                                    </option>
                                {% endfor %}
                            </select> 
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 my-1">
                        <div id="seat_list_wrapper" class="d-none">
                            <select class="select form-control" name="seat_list" id="seat_list">
                            </select>
                        </div>
                    </div>
                </div>
                <div id="submit_wrapper" class="d-none">
                    <div class="row my-2">
                        <div class="col-12 text-right">
                            <button id="submit-btn" class="btn btn-primary w-100">Seat User</button>
                        </div>
                    </div>
                </div>
                {% if not unseated %}
                    {% if not unseated_VIP %}
                        <div class="row my-2">
                            <div class="col-12 text-center">
                                There are no registrations waiting to be seated.
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                    {% if unseated_VIP %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="h5">Priority Registrations</div>
                            <hr class="my-1">
                        </div>
                    </div>
                    <div class="custom-control custom-radio">
                        {% for registration in unseated_VIP|order_by:'created_date' %}
                            <div class="row">
                                <div class="col-2 my-auto">
                                    <input class="custom-control-input" type="radio" name="registration_number" id="registration_{{registration.id}}" value="{{registration.id}}">
                                    <label class="custom-control-label" for="registration_{{registration.id}}">{{forloop.counter}}</label>
                                </div>
                                <div class="col-5 my-auto">
                                    <small>{{registration.user.profile.get_profile_firstlast}}</small>
                                </div>
                                <div class="col-5 my-auto">
                                    <small>{{registration.user.profile.display_name}}</small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3"></div>
                    {% endif %}
                    {% if unseated %}
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="h5">Registrations</div>
                                <hr class="mt-1">
                            </div>
                        </div>
                        <div class="custom-control custom-radio">
                            {% for registration in unseated|order_by:'created_date' %}
                                <div class="row">
                                    <div class="col-2 my-auto">
                                        <input class="custom-control-input" type="radio" name="registration_number" id="registration_{{registration.id}}" value="{{registration.id}}">
                                        <label class="custom-control-label" for="registration_{{registration.id}}">{{forloop.counter}}</label>
                                    </div>
                                    <div class="col-5 my-auto">
                                        <small>{{registration.user.profile.get_profile_firstlast}}</small>
                                    </div>
                                    <div class="col-5 my-auto">
                                        <small>{{registration.user.profile.display_name}}</small>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                
            </div>
        </div>
        {% endif %}
        {% if subevent|check_registration_status:"open" %}
            {% if registered %}
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success text-center mx-auto" style="width: 95%;">
                            You are registered for this 
                            {% if subevent.game %}
                                game.
                            {% else %}
                                subevent.
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if not game_seat %}
                    {% if not subevent.game.start %}
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="text-center mx-auto">
                                <a href="{% url 'App_Event:reg_toggle' subevent.pk %}" class="btn btn-secondary" style="width: 95%;">Unregister</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="text-center mx-auto">
                            <a href="{% url 'App_Event:reg_toggle' subevent.pk %}" class="btn btn-primary" style="width: 95%;">Register</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    
    
</div>
{% csrf_token %}
{% if game_seat %}
    <div class="card mb-2 shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-12 text-center">
                    <span class="h2">Seat Card</span>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 text-center">
                            {{game_seat.game_equip.equip.product.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="{% url 'App_Game:game_section' game_seat.game_equip.pk %}">
                                <h5>{{game_seat.game_equip.label}}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 text-center">
                            Seat
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <h5>{{game_seat.seat}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mt-auto text-center">
                    <div class="small">Subevent Registration Status: {{subevent.get_status_display}}</div>
                </div>
                <div class="col-6 text-center">
                    {% if not subevent.game.start %}
                        {% if subevent.allow_reg %}
                            <button id="unassign" class="btn btn-danger btn-sm">Unassign</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block script_block %}

{{block.super}}
<script src="{% static 'js/game.js' %}"></script>
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    window.addEventListener('load', function () {
        if (typeof changeTab == 'function') {
            changeTab()
        }
    })
    
    $(':radio[name="registration_number"]').click(function() {
        regId = $(this).val()
        console.log(regId)
        $('#move_wrapper').removeClass('d-none')
    });

    $('#subevent-list a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

    $("#unassign").on("click", function(e){
        console.log("unassigning")
        clearSeat();
    })

    $('#game_equips').on('change', function(){
        if ($('#game_equips option:selected').val() == 'empty'){
            $('#seat_list_wrapper').addClass('d-none');
            $('#submit_wrapper').addClass('d-none');
            $('#submit-btn').attr('disabled', true)
        } else {
            equipSelect = $('#game_equips option:selected').val()
            seatSelect = document.getElementById("seat_list")
            submitBtn = $('#submit-btn')
            ajaxUrl = '{% url "App_Game:get_seats" %}'
            $('#seat_list_wrapper').removeClass('d-none');
            $('#submit_wrapper').removeClass('d-none');
            $('#submit-btn').attr('disabled', false)
            getSeats(equipSelect, seatSelect, submitBtn, ajaxUrl);
        }
    });
    
    $('#submit-btn').click(function(e) {
        e.preventDefault()
        equipId = $('#game_equips option:selected').val()
        seatId = $('#seat_list option:selected').val()
        gameId = parseInt("{{subevent.game.pk}}")
        submitBtn = $('#submit-btn')
        ajaxUrl = "{% url 'App_Game:reserve_seat'%}"
        successURL = "{% url 'App_Event:sub_review_tab' pk=subevent.pk tab='registration' %}"
        $("#game_equips").prop("disabled", true)
        $("#seat_list").prop("disabled", true)
        console.log('reserving seat')
        assignSeat(equipId, seatId, gameId, regId, submitBtn, ajaxUrl, successURL)
    })

    function clearSeat() {
        $("#unassign").attr("disabled", true)
        $('#unassign').append(" <i class='fa fa-spinner fa-spin'></i>").attr("disabled", "");
        ajaxUrl = "{% url 'App_Game:unassign_seat'%}"
        successURL = "{% url 'App_Event:sub_review' subevent.pk %}"
        data = {
            seatId: parseInt("{{game_seat.pk}}"),
        };
        $.ajax({
            url: ajaxUrl,
            type: "POST",
            headers: {'X-CSRFToken': csrftoken},
            data: data,
            success: function(json) {
                console.log(json)
                nextPage(1500, successURL);
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            },
        });
    }
</script>
{% if tab %}
<script>
    function changeTab() {
        $('#{{tab}}-link').trigger('click');
    }
</script>
{% endif %}
{% endblock %}