{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}

{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
    
    <div class="jumbotron jumbotron-fluid my-0 py-2" style="background:transparent !important">
        <span class="display-4">Finalize Subevent: {{subevent.type}}</span>
        <p class="lead">Choose a ranking model for this subevent.</p>
        <hr class="my-2">
    </div>
    <div id="notification-error" class="alert alert-danger d-none"></div>
    <div id="notification-success" class="alert alert-success d-none"></div>
    
    <form>
        {% csrf_token %}
        <div class="row">
            <div class="col-4 my-auto">
                <label for="rank_sets">Rank Set:</label>
            </div>
            <div class="col-8">
                <select class="select form-control" name="rank_sets" id="rank_sets">
                    <option value="none">-------</option>
                    {% for set in rank_sets.all %}
                        <option value="{{set.id}}">
                            {{set.name}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <div id="rank-card" class="card shadow mt-2 mx-0 d-none">
        <div id="range-info" class="card-header">

        </div>
        <div class="card-body">
            <div class="container" id="ranks">

            </div>
        </div>
        <div id="process-btn" class="card-footer text-right">
            
        </div>
    </div>
{% endblock %}

{% block script_block %}
{{ block.super }}
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    rankSetSelect = $('#rank_sets');

    rankSetSelect.on('change', function() {
        if ($('#rank_sets option:selected').val() != 'none') {
            console.log($('#rank_sets option:selected').val())
            $('#rank-card').removeClass('d-none')
            $('#ranks').empty()
            $('#range-info').empty()
            getRankStructure()
        } else {
            $('#rank-card').addClass('d-none')
            $('#ranks').empty()
            $('#range-info').empty()
        }
    });

    function getRankStructure() {
        ajaxUrl = "{% url 'App_Event:get_rank_structure'%}"
        data = {
            rankSet: $('#rank_sets option:selected').val(),
            subeventId: parseInt("{{subevent.id}}"),
        };
        $.ajax({
            url: ajaxUrl,
            type: "POST",
            headers: {'X-CSRFToken': csrftoken},
            data: data,
            success: function(json) {
                $('#range-info').html('<small>Ranked Users: {{ranked_users}}</small><br><small>Base Points: {{base_points}}</small>')
                var rowHTML = $("<div class='row mt-2 border-bottom' id='title'></div>")
                $('#ranks').append(rowHTML)
                $('#title').append($("<div class='col-4'><div>").html("<small><strong>Place</strong></small>"))
                $('#title').append($("<div class='col-4'><div>").html("<small><strong>Percentage</strong></small>"))
                $('#title').append($("<div class='col-4'><div>").html("<small><strong>Flat Points</strong></small>"))
                for (let i = 0; i < Object.keys(json.ranks).length; i++){
                    $('#ranks').append("<div class='row' id='rank_" + json.ranks[i].place + "'></div>")
                    const row = $('#rank_' + json.ranks[i].place)
                    for (key in json.ranks[i]) {
                        var rankValue = json.ranks[i][key]
                        if (rankValue == null && key == 'place'){
                            rankValue = 'All Others'
                            var column = $("<div class='col-4'><div>").html("<small>" + rankValue + "</small>")
                        } else {
                            var column = $("<div class='col-4'><div>").text(rankValue)
                        }
                        row.append(column)
                    }
                }
                console.log(json['finalizeUrl'])
                $('#process-btn').html("<a href=' " + json['finalizeUrl'] + "' class='btn btn-primary'>Finalize</a>")
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            },
        });
    }

</script>
{% endblock %}