{% extends "base.html" %}

{%  load crispy_forms_tags %}

{% block extrahead %}

{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
 
    <div class="jumbotron jumbotron-fluid my-0 py-2" style="background:transparent !important">
        <span class="display-4">Configure {{subevent.type}}</span>
        <p class="lead">Choose your options for this subevent and we'll open registration.</p>
        <hr class="my-2">
    </div>
    <div id="notification-error" class="alert alert-danger d-none"></div>
    <div id="notification-success" class="alert alert-success d-none"></div>
    <form id="form" action="{% url 'App_Game:create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.create_game|as_crispy_field}}
        <input type="checkbox" name="allow_vip" id="allow_vip"> <label for="allow_vip">Allow VIP</label>&nbsp;&nbsp;
            <small><em>If checked, Users may spend coins to register with VIP flag.</em></small>
        <div class="mt-2" id="gameForm" class="" style="display: none;">
            {{form.game_type|as_crispy_field}}
            <br>
            <label>Select Equipment:</label><br>
                {% for item in equipment %}
                <input class="form-group" type="checkbox" name="game_equipment" id="game_equipment_{{item.id}}" value="{{item.id}}"> {{item}} <br>
                {% endfor %}
            <br>
            <input type="checkbox" name="auto_assign" id="auto_assign"> <label for="auto_assign">Auto Assign Seats</label>&nbsp;&nbsp;
            <small><em>Leave unchecked if you would like users to choose their seat.</em></small>
        </div>
        <div class="mt-3" id="submit">
            <button id="submit-btn" class="btn btn-primary" type="submit">Open Registration</button>
        </div>
    </form>
{% endblock %}

{% block script_block %}
{{ block.super }}
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
    $('#id_create_game').click(function(){
        // $('#gameForm').toggleClass('d-none');
        $('#gameForm').slideToggle(500)
    });
    
    $('#form').on('submit', function(e){
        e.preventDefault();
        $('#notification-error').text('')
        $('#notification-error').addClass('d-none')
        allowVip = $('#allow_vip').is(':checked')
        if ($('#id_create_game').prop("checked") === false) {
            ajaxUrl = "{% url 'App_Event:open' %}"
            data = {
                subevent: parseInt("{{subevent.id}}"),
                allowVip: allowVip,
            }
            open_registration(ajaxUrl, data)
        } else {
            console.log('Submitted with game!');
            if (formValid()){
                ajaxUrl = "{% url 'App_Game:create' %}"
                data = {
                subevent: parseInt("{{subevent.id}}"),
                allowVip: allowVip,
                gameTypeOption: validGameType,
                equipmentSelected: validEquipment,
                autoAssignSeats: autoAssignSeats
            }
                open_registration(ajaxUrl, data);
            }
            
        }

    });

    function formValid() {
        var gameType = $('#id_game_type option:selected').val()
        if ( gameType === "") {
            $('#notification-error').text('Please select a game type.')
            $('#notification-error').removeClass('d-none')
            return false
        } else{
            validGameType = gameType
        }
        
        var equipment = $('input[name="game_equipment"]:checked').map(function(){
                return parseInt($(this).val());
            }).get()
        if (equipment.length < 1) {
            $('#notification-error').text('Please select at least one piece of equipment.')
            $('#notification-error').removeClass('d-none')
            return false
        } else {
            validEquipment = equipment
        }
        autoAssignSeats = $('#auto_assign').is(':checked')
        console.log('Form is valid.')
        return true
    }

    function open_registration() {
        successURL = "{% url 'App_Organization:event_org_review' subevent.event.organization.slug subevent.event.pk %}"
        $.ajax({
            url: ajaxUrl,
            beforeSend: function () {
                $("#form :input").prop("disabled", true);
                $('#submit-btn').append(" <i class='fa fa-spinner fa-spin'></i>").attr("disabled", "");
            },
            type: "POST",
            headers: {'X-CSRFToken': csrftoken},
            data: data,
            success: function(json) {
                $('#notification-success').text('Game Created!');
                $('#notification-success').removeClass('d-none');
                nextPage(1500, successURL);
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            },
        });
    }
</script>
{% endblock %}