{% extends "base.html" %}
{%  load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock %}

{% block body_block %}
<div class="container">
    <h3>Profile</h3>
    <form method="POST">
        {{ form|crispy }}
        {% csrf_token %}
        <input type="submit" name="submit" value="Update" class="btn btn-success btn-sm">
    </form>
</div>
{% endblock %}