{% extends "base.html" %}
{% load i18n %}
{%  load crispy_forms_tags %}
{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please {% endblocktrans %}<a href="{% url 'App_Login:login' %}">{% blocktrans %}sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'App_Login:signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
{% endblock %}