{% extends "base.html" %}
{%  load crispy_forms_tags %}
{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
    <h3>Log In</h3>
    {{ next }}
    <form method="POST">
        {{ form|crispy }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        <input type="submit" name="submit" value="Log In" class="btn btn-success btn-sm"/>
    </form>
    <br>
    <p>Don't have an account? <a href="{% url 'App_Login:signup' %}">Sign Up Here</a></p>
{% endblock %}