{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}

{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
    
    <div class="jumbotron jumbotron-fluid my-0 py-2" style="background:transparent !important">
        <span class="display-4">Seat Selection for {{game.subevent.type}}</span>
        <p class="lead">Choose your seat for this subevent.</p>
        <hr class="my-2">
    </div>
    <div id="notification-error" class="alert alert-danger d-none"></div>
    <div id="notification-success" class="alert alert-success d-none"></div>
    <form action="{% url 'App_Game:reserve_seat' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <label for="game_equips">Choose:</label><br>
                <select class="select form-control" name="game_equips" id="game_equips">
                    {% for equip in game_equip.all %}
                        <option value="{{equip.id}}">
                            {{equip.equip.product.name}}: {{equip.label}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6">
                <label for="seat_list">Seat:</label>
                <div id="seat_list_wrapper">
                    <select class="select form-control" name="seat_list" id="seat_list">
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 text-right">
                <button class="btn btn-primary" id="submit" type="submit">Submit</button>
            </div>
        </div>
        
    </form>
{% endblock %}

{% block script_block %}
{{ block.super }}
<script src="{% static 'js/game.js' %}"></script>
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    equipSelect = $('#game_equips option:selected').val()
    seatSelect = document.getElementById("seat_list")
    submitBtn = $('#submit')
    ajaxUrl = '{% url "App_Game:get_seats" %}'
    
    window.addEventListener('load', function () {
        equipSelect = $('#game_equips option:selected').val()
        getSeats(equipSelect, seatSelect, submitBtn, ajaxUrl);
    })

    $('#game_equips').on('change', function(){
        equipSelect = $('#game_equips option:selected').val()
        getSeats(equipSelect, seatSelect, submitBtn, ajaxUrl);
    });

    $('#submit').click(function(e){
        e.preventDefault();
        $("#game_equips").prop("disabled", true)
        $("#seat_list").prop("disabled", true)
        assignSeat();
    });

    function assignSeat() {
        $("#submit").attr("disabled", true)
        $('#submit').append(" <i class='fa fa-spinner fa-spin'></i>").attr("disabled", "");
        ajaxUrl = "{% url 'App_Game:reserve_seat'%}"
        successURL = "{% url 'App_Event:sub_review' game.subevent.pk %}"
        data = {
            equipId: $('#game_equips option:selected').val(),
            seatId: $('#seat_list option:selected').val(),
            gameId: parseInt("{{game.pk}}"),
        };
        $.ajax({
            url: ajaxUrl,
            type: "POST",
            headers: {'X-CSRFToken': csrftoken},
            data: data,
            success: function(json) {
                $('#notification-success').text('Seat assignment successful!');
                $('#notification-success').removeClass('d-none');
                nextPage(1500, successURL);
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            },
        });
    }
</script>
{% endblock %}