{% extends "base.html" %}
{% load event_custom_tags %}
{% load static %}

{%  load crispy_forms_tags %}

{% block extrahead %}

{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
<h5>
    <a href="{% url 'App_Organization:event_org_review' game_section.game.subevent.event.organization.slug game_section.game.subevent.event.pk %}">
        {{game_section.game.subevent.event.organization.organization_name}} Event #{{game_section.game.subevent.event.id}}
    </a> >
    <a href="{% url 'App_Event:sub_review' game_section.game.subevent.pk %}">
        {{game_section.game.subevent.type}}
    </a> > 
    {{game_section.equip.product.name}} #{{game_section.label}}
</h5>
<div class="card shadow mb-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="subevent-list" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#detail" role="tab" aria-controls="detail" aria-selected="true">Detail</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Event Date: </strong>{{game_section.game.subevent.event.start|date:"M d Y, h:i"}}
            </div>
            <div class="col-md-6">
                <strong>Organization: </strong>{{game_section.game.subevent.event.organization}}
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                <div class="row border-bottom justify-content-between">
                    <div class="col-4 text-center">
                        <strong>Seat</strong>
                    </div>
                    <div class="col-8">
                        <strong>User</strong>
                    </div>
                </div>
                <form>
                    
                        {% for seat in game_section.game_seat.all|order_by:"seat" %}
                            <style>
                                .seatrow:not(:last-child) {
                                    border-bottom: 1px solid #dee2e6;
                                }
                            </style>
                            <div class="seatrow row justify-content-between" style="padding-top: .3em;">
                                <div class="col-4 my-auto text-center">
                                    <div class="custom-control custom-radio">
                                        {% if seat.seat_user %}
                                            {% if request.user|is_event_staff:game_section.game.subevent.event %}
                                                <input class="custom-control-input" type="radio" name="seat_number" id="seat_{{seat.id}}" value="{{seat.id}}">
                                                <label class="custom-control-label" for="seat_{{seat.id}}"></label>
                                            {% endif %}
                                                {{seat.seat}}
                                            {% if request.user|is_event_staff:game_section.game.subevent.event %}
                                                </label>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-8">
                                    <span {% if seat.seat_user %}id="seat_name_{{seat.id}}"{% endif %}>{{seat.seat_user.user.profile.get_profile_firstlast}}</span>
                                </div>
                            </div>
                        {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer">
        
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 text-left">
                <div id="action-group" class="btn-group btn-group-toggle d-none" data-toggle="buttons">
                    <label id="labelMove" class="btn btn-secondary">
                    <input type="radio" name="actions" id="optionMove" value="optionMove" autocomplete="off">Move
                    </label>
                    <label id="labelOption" class="btn btn-danger">
                    <input type="radio" name="actions" id="optionResolve" value="optionResolve" autocomplete="off"> Resolve
                    </label> 
                </div>
            </div>
            <div class="col-sm-6 col-md-6 my-1">
                <div id="move_wrapper" class="d-none">
                <select class="select form-control" name="game_equips" id="game_equips">
                    {% for equip in game_equip.all %}
                        <option value="{{equip.id}}">
                            {{equip.equip.product.name}}: {{equip.label}}
                        </option>
                    {% endfor %}
                </select> 
                </div>
            </div>
            <div class="col-sm-6 col-md-3 my-1">
                <div id="seat_list_wrapper" class="d-none">
                    <select class="select form-control" name="seat_list" id="seat_list">
                    </select>
                </div>
            </div>
        </div>
        <div id="submit_wrapper" class="d-none">
            <div class="row mt-2">
                <div class="col-12 text-right">
                    <button id="submit-btn" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        {% if game_section.is_empty %}
        <div class="row">
            <div class="col-12 mx-auto my-auto">
                <a href="{% url 'App_Game:resolve_equip' game_section.pk %}" class="btn btn-danger w-100">Close {{game_section.equip.product.name}}</a>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% csrf_token %}
{% endblock %}

{% block script_block %}
{{block.super}}
{% if request.user|is_event_staff:game_section.game.subevent.event %}
<script src="{% static 'js/game.js' %}"></script>
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
    $(':radio[name="seat_number"]').click(function() {
        userSeatId = $(this).val()
        console.log(userSeatId)
        $('#action-group').removeClass('d-none')
        $("input:radio[name='actions']").each(function(i) {
            this.checked = false;
        });
        $('#seat_list_wrapper').addClass('d-none')
        $('#submit_wrapper').addClass('d-none')
        $('#game_equips').addClass('d-none')
    });
    
    equipSelect = $('#game_equips option:selected').val();
    seatSelect = document.getElementById("seat_list")
    submitBtn = $('#submit_wrapper')
    ajaxUrl = '{% url "App_Game:get_seats" %}'

    // insert empty seat options on page load
    window.addEventListener('load', function () {
        // if game equipment is empty, skip ajax call to get seats
        if ($('#game_equips').has('option').length > 0) {
            getSeats(equipSelect, seatSelect, submitBtn, ajaxUrl);
        } else {
            $('#optionMove').addClass('d-none')
            $('#labelMove').addClass('d-none')
        }
    })
    
    $('#game_equips').on('change', function(){
        equipSelect = $('#game_equips option:selected').val()
        console.log(equipSelect)
        getSeats(equipSelect, seatSelect, submitBtn, ajaxUrl);
    });

    $('input:radio[name=actions]').click(function() {
        if ($('input:radio[name=actions]:checked').val() == 'optionMove'){
            if ($('#game_equips').has('option').length == 0) {
                console.log('Length is 0')
                $('#submit-btn').attr('disabled', true);
                $('#seat_list').addClass('d-none');
                $('#submit_wrapper').addClass('d-none')
            } else {
                $('#seat_list_wrapper').removeClass('d-none')
                $('#submit_wrapper').removeClass('d-none')
            }
            $('#move_wrapper').removeClass('d-none')
            console.log('Move checked')
        } else if ($('input:radio[name=actions]:checked').val() == 'optionResolve') {
            $('#move_wrapper').addClass('d-none')
            $('#seat_list_wrapper').addClass('d-none')
            $('#submit_wrapper').removeClass('d-none')
            $('#submit-btn').attr('disabled', false)
            console.log('Resolve checked')
        }
    });

    $('#submit-btn').click(function(e){
        if ($('input:radio[name=actions]:checked').val() == 'optionMove') {
            newSeatId = $('#seat_list option:selected').val()
            moveAjaxUrl = "{% url 'App_Game:move_seat' %}"
            submitButton = $('#submit-btn')
            moveSeat(userSeatId, equipSelect, newSeatId, submitButton, moveAjaxUrl)
        } else if ($('input:radio[name=actions]:checked').val() == 'optionResolve') {
            var url = "{% url 'App_Game:resolve_seat' 123 %}"
            var id = userSeatId
            window.location.href = url.replace('123', id)
        }

        console.log($('input:radio[name=actions]:checked').val())
    })
</script>
{% endif %}
{% endblock %}