<div class="row">
        <div class="col-sm-6 col-md-6 my-1">
            <div id="move_wrapper" class="d-none">
                <select class="select form-control" name="game_equips" id="game_equips">
                    {% for equip in game_equip.all %}
                        <option value="{{equip.id}}">
                            {{equip.equip.product.name}}: {{equip.label}}
                        </option>
                    {% endfor %}
                </select> 
            </div>
        </div>
        <div class="col-sm-6 col-md-3 my-1">
            <div id="seat_list_wrapper" class="d-none">
                <select class="select form-control" name="seat_list" id="seat_list">
                </select>
            </div>
        </div>
    </div>
    <div id="submit_wrapper" class="d-none">
        <div class="row mt-2">
            <div class="col-12 text-right">
                <button id="submit-btn" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>