body {
  padding-bottom: 120px;
  background-color: #eeeeee;
}

footer {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 114px;
}

.nav-tabs .nav-item .nav-link {
  background-color: #929aa1 !important;
  color: #FFF !important;
}
.nav-tabs .nav-item .nav-link:hover {
  background-color: #6c757d !important;
  color: #FFF !important;
}
.nav-tabs .nav-item .nav-link.active {
  background-color: #FFF !important;
  color: #6c757d !important;
  font-weight: bold;
}
.nav-tabs .nav-item .nav-link.disabled {
  background-color: #FFF !important;
  color: #a7acb1 !important;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.h7 {
  font-size: 0.8rem;
}

.gedf-wrapper {
  margin-top: 0.97rem;
}

@media (min-width: 992px) {
  .gedf-main {
      /* padding-left: 4rem;
      padding-right: 4rem; */
      padding-left: 1rem;
      padding-right: 1rem;
  }
  .gedf-card {
      /* margin-bottom: 2.77rem; */
      margin-bottom: 1rem;
  }
}

span.circle {
  background: #0275d8;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
}

span.circle-muted {
  background: #888;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #ddd;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  /* transition: margin-left .5s; If you want a transition effect */
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 768px) {
 nav .navbar-brand {display: none;}
}