.primary-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    overflow: hidden;
}
/* Use this class to center material-icons on buttons for modals */
.modal-icon {
    display: inline-flex;
    vertical-align: top;
}

.sidenav .background {
    height: 100px;
    background-size: cover;
    background-position: center;
    border-top: #222 solid 5px;
    border-bottom: #222 solid 5px;
}

.logo-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    position: relative;
    background-size: cover;
    background-position: center;
    border-top: #222 solid 5px;
    border-bottom: #222 solid 5px;
}

.carousel-head {
    margin-top: 50px !important;
}


.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle
}

#notification-close {
    cursor: pointer;
}

.section-icons {
    border-bottom: #222 solid 5px;
}

#cards-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.card-content h4 {
    margin-top: 0px;
    height: 100%;
}

.section-features-leagues {
    border-top: #616161 solid 5px;
    border-bottom: #616161 solid 5px;
}

.feature-title::before {
    content: "";
    display: inline-block;

}
.feature-image {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-grow: 1;

}