{% extends "base.html" %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
<h3 class="pb-2">Submitted Applications</h3>
{% if applications %}
    <div class="row">
        <div class="col-12">
            {% for application in applications %}
            <div class="card mb-2 shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-1">
                            {% if not request.user.is_staff %}
                                #{{ application.id }}
                            {% else %}
                                <a href="{% url 'App_Organization:application_detail' pk=application.id %}">{{ application.id }}</a>
                            {% endif %}
                        </div>
                        <div class="col-6 text-left">
                            <h5>{{ application.organization_name }}</h5>
                        </div>
                        <div class="col-5 text-right">
                            <strong>Application Type: </strong>{{ application.orgtype }}
                        </div>
                    </div>
                </div>
                <div class="card-body p-1">
                    <div class="container">
                        <div class="row mt-1">
                            <div class="col-6 font-weight-bold">
                                Submitted on:
                            </div>
                            <div class="col-6 text-left font-weight-bold">
                                Status:
                            </div> 
                        </div>
                        <div class="row mt-1">
                            <div class="col-6">
                                {{ application.application_date }}
                            </div>

                            {% if application.rejected %}
                            <div class="col-6 text-left alert alert-danger">
                                Rejected <br>
                                {{ application.rejected_date }}
                            </div>
                            {% elif application.approved %}
                            <div class="col-6 text-left alert alert-info">
                                Approved <br>
                                {{ application.approved_date }}
                            </div>
                            {% else %}
                            <div class="col-6 text-left alert alert-warning">
                                Pending
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 text-right">
                            {% if not application.approved %}
                            <a class="btn btn-danger btn-sm" href="{% url 'App_Organization:reject' pk=application.pk %}">Cancel Application</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}