{% extends "base.html" %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row mb-2">
        <div class="col-sm-8"><h4>Application Review Detail</h4></div>
        {% if application.approved %}
        <div class="col-sm-2 alert alert-success">Approved <br> {{ application.approved_date|date:"M d, Y"}}</div>
        <div class="col-sm-2"><a href="{% url 'App_Organization:archive' pk=application.pk %}"><button class="btn btn-secondary w-100">Archive</button></a></div>
        {% else %}
        <div class="col-sm-2"><a class="btn btn-success btn-sm" href="{% url 'App_Organization:approve' pk=application.pk %}">Approve</a></div>
        <div class="col-sm-2"><a class="btn btn-danger btn-sm" href="{% url 'App_Organization:reject' pk=application.pk %}">Reject</a></div>
        {% endif %}
    </div>
    <div class="row pt-2 mb-2 border-top">
        <div class="col-sm-6"><h6>Application Date:</h6></div>
        <div class="col-sm-6">{{ application.application_date }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-6"><h6>Application Type:</h6></div>
        <div class="col-sm-6 font-weight-bold">{{ application.orgtype }}</div>
    </div>
    <div class="row mb-4 border-bottom">
        <div class="col-sm-6"><h6>Submitted By:</h6></div>
        <div class="col-sm-6">{{ application.user.profile.get_profile_firstlast }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-4"><h6>Organization:</h6></div>
        <div class="col-sm-8">{{ application.organization_name }}</div>
    </div>
    <div class="row">
        <div class="col-sm-12"><h6>Address:</h6></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">{{ application.address_1 }}</div>
    </div>
    <div class="row">
        {% if application.address_2 %}
        <div class="col-sm-1"></div>
        <div class="col-sm-11">{{ application.address_2 }}</div>
        {% endif %}
    </div>
    <div class="row mb-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">{{ application.city }}</div>
        <div class="col-sm-2">{{ application.state }}</div>
        <div class="col-sm-5">{{ application.postal_code }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-4"><h6>Contact Name:</h6></div>
        <div class="col-sm-8">{{ application.first_name }} {{ application.last_name }}</div>
    </div>
    <div class="row pb-2 mb-2 border-bottom">
        <div class="col-sm-4"><h6>Phone</h6></div>
        <div class="col-sm-8">{{ application.phone }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12"><h6>Service Description:</h6></div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">{{application.service_description}}</div>
    </div>
</div>
{% endblock %}