{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
    <h3>{{ page_title }}</h3>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ form.organization_name.errors }}
        {{ form.organization_name|as_crispy_field }}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.first_name.errors }}
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.last_name.errors }}
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>
        {{ form.address_1.errors }}
        {{ form.address_1|as_crispy_field }}
        {{ form.address_2.errors }}
        {{ form.address_2|as_crispy_field }}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.city.errors }}
                {{ form.city|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.state.errors }}
                {{ form.state|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.postal_code.errors }}
                {{ form.postal_code|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.phone.errors }}
                {{ form.phone|as_crispy_field }}
            </div>
        </div>
        {{ form.service_description.errors }}
        {{ form.service_description|as_crispy_field }}'
        <button class="btn btn-primary btn-sm" type="submit">Submit</button>
    </form>
{% endblock %}