{% extends "base.html" %}
{% load org_custom_tags %}
{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="card shadow">
                <div class="card-body">
                    {% if request.user.is_authenticated %}
                    <span class="circle">{{ user.profile.display_name|initials }}</span>
                    <span class="h6">@{{ user.profile.display_name }}</span>
                    <div class="mt-2">Welcome {{ request.user.profile.first_name }}!</div>
                    {% else %}
                    <div class="mt-2">You are not logged in.</div>
                    <div>Sign in <a href="{% url 'App_Login:login' %}">here</a>. Don't have an account? <a href="{% url 'App_Login:signup' %}">Sign up today!</a></div>
                    {% endif %}
                </div>
                <ul class="list-group list-group-flush">
                </ul>
            </div>
        </div>
        <div class="col-md-7 gedf-main">
            {% for post in posts %}
            <!--- \\\\\\\Post-->
            <div class="card gedf-card shadow" id="post_{{post.id}}">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <a href="{% url 'App_Organization:organization' slug=post.organization.slug %}">
                                {% if organization.organization_image %}
                                    <img class="rounded-circle" src="{{ post.organization.organization_image.url }}" alt="" style="width: 40px; height: 40px;">
                                {% else %}
                                    <span class="circle">{{ post.organization.organization_name|initials }}</span>
                                    
                                {% endif %}
                                </a>
                            </div>
                            <div class="ml-2">
                                <a href="{% url 'App_Organization:organization' slug=post.organization.slug %}">
                                    <div class="h5 m-0">{{ post.organization.organization_name }}</div>
                                </a>
                                <!-- <div class="h7 text-muted">Miracles Lee Cross</div> -->
                            </div>
                        </div>
                        <div>
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                    <div class="h6 dropdown-header">Configuration</div>
                                    <a class="dropdown-item" href="#">Save</a>
                                    <a class="dropdown-item" href="#">Hide</a>
                                    <a class="dropdown-item" href="#">Report</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ post.created|timesince }}</div>
                    {% if not post.event %}
                    <a class="card-link" href="{% url 'App_Post:post' pk=post.pk %}">
                    {% else %}
                    <a class="card-link" href="{% url 'App_Organization:event_org_review' post.event.organization.slug post.event.pk %}">
                    {% endif %}
                        <h5 class="card-title">
                            {% if not post.event %}
                                {{ post.title }}
                            {% else %}
                                {{ post.event.organization }}
                                {% if post.event.user_org %}
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> {{ post.event.user_org }}: Event
                                {% else %}
                                    : Event
                                {% endif %}
                    {% endif %}
                            
                        </h5>
                    </a>

                    <p class="card-text">
                        {% if not post.event %}
                            {{ post.content }}
                        {% else %}
                            <strong>Event Date</strong>: {{post.event.start}} <br>
                            <p>
                                {% for cart in post.event.event_cart.all%}
                                    {% for item in cart.get_cart_items %}
                                        {{item.product.name}} x {{item.quantity}}
                                    {% endfor %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </p>
                    <p>
                        {% for image in post.postimages.all %}
                        <img class="w-100" src="{{ image.image.url }}" alt="">
                        <div>{{ image.caption }}</div>
                        {% endfor %}
                    </p>
                </div>
                <div class="card-footer">
                    {% if post.pk in liked_post_list %}
                        <a href="{% url 'App_Post:unlike' page='home' pk=post.pk %}" class="card-link"><i class="fa fa-heart" style="font-size: 14px;"></i></a>
                    {% else %}
                        <a href="{% url 'App_Post:like' page='home' pk=post.pk %}" class="card-link"><i class="fa fa-heart-o" style="font-size: 14px;"></i></a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if post.commenting %}
                            <!-- <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a> -->
                        {% endif %}
                    {% endif %}
                    <!-- <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a> -->
                </div>
            </div>
            <!-- Post /////-->
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}