{% extends "base.html" %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
    {% if organization_list %}
    <div class="row">
        <div class="col-12">
            {% for organization in organization_list %}
            <div class="card mb-2 shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <h5>{{ organization.organization_name }}</h5>
                        </div>
                        <div class="col-6 text-right">
                            <a href="{% url 'App_Organization:edit_organization' slug=organization.slug %}" class="btn btn-secondary btn-sm"><i class="fa fa-gears"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 border">
                                <strong>Events</strong>
                                {% for event in organization.event_org.all %}
                                
                                
                                <div class="row mb-1">
                                    <div class="col-8">
                                        {{event.user_org}} | {{event.start}}
                                    </div>
                                    <div class="col-4 text-right"><a href="{% url 'App_Organization:event_org_review' organization.slug event.pk %}" class="btn btn-secondary btn-sm">Review</a></div>
                                </div>
                                {% endfor %}
                                {% for event in organization.event_user_org.all %}
                                
                                
                                <div class="row mb-1">
                                    <div class="col-8">
                                        {{event.organization}} | {{event.start}}
                                    </div>
                                    <div class="col-4 text-right"><a href="{% url 'App_Organization:event_org_review' organization.slug event.pk %}" class="btn btn-secondary btn-sm">Review</a></div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 border">
                                <div class="row pt-1">
                                    <div class="col-12">
                                        <h6>{{ organization.orgtype }} Staff:</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {% for staff in organization.staff_organization.all %}
                                            <div class="row">
                                                <div class="col-12">
                                                    {{ staff.user.profile.get_profile_firstlast }}:
                                                </div>
                                            </div>
                                            {% for role in staff.roles.all %}
                                                <div class="row">
                                                    <div class="col-2"></div>
                                                    <div class="col-10">{{ role.role }}</div>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>    
                            </div>
                        </div>
                        
                            <div class="row pt-1">
                                <div class="col-4"></div>
                                <div class="col-4"></div>
                                <div class="col-4 text-right"><a class="btn btn-primary btn-sm" href="{% url 'App_Organization:invite' slug=organization.slug %}">Invite Staff</a></div>
                            </div>
                            {% if organization.league %}
                            <div class="row pt-2 mt-2 border-top">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <span class="h6">Total Products and Services:</span>  {{ organization.product_org.count }}
                                        </div>
                                    </div>
                                    <div class="row border-bottom mb-1">
                                        <div class="col-2"></div>
                                        <div class="col-5 font-weight-bold">Name</div>
                                        <div class="col-3 font-weight-bold text-right">Price</div>
                                        <div class="col-2 font-weight-bold">Unit</div>
                                    </div>
                                    {% for product in organization.product_org.all|slice:":3" %}
                                    <div class="row border-bottom mb-1 align-items-center">
                                        <div class="col-2">
                                            {% with product.image_product.all|first as image %}
                                                {% if image %}
                                                    <a href="{% url 'App_Organization:product_detail' product.organization.slug product.pk%}">
                                                        <img class="w-100" src="{{ image.thumbnail.url }}" alt="">
                                                    </a>
                                                {% endif %}
                                            {% endwith %} 
                                        </div>
                                        <div class="col-5"><span class="h6">{{ product.name }}</span> 
                                            <br>{{ product.product_type }}
                                        </div>
                                        <div class="col-3 text-right">${{ product.price }}</div>
                                        <div class="col-2">{{ product.unit }}</div>
                                    </div>
                                    {% endfor %}
                                    <div class="row py-1">
                                        <div class="col-6">
                                            <a class="btn btn-danger btn-sm" href="{% url 'App_Organization:new_product' slug=organization.slug %}">Add New Product</a>
                                        </div>
                                        
                                        <div class="col-6 text-right">
                                            <a class="btn btn-primary btn-sm" href="{% url 'App_Organization:products' slug=organization.slug %}">View All Products</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        {% if organization.league %}
                            {% if organization.league.stripe_access_token %}
                            <div class="col-4"><i class="fa fa-check-square-o" aria-hidden="true"></i> <i class="fa fa-cc-stripe" aria-hidden="true"></i> Connected!</div>
                            {% else %}
                            <div class="col-4"><a href="{% url 'App_Organization:authorize' organization.league.uuid %}" class="btn btn-primary"><i class="fa fa-cc-stripe" aria-hidden="true"></i> Connect Stripe Account</a></div>
                            {% endif %}
                        {% endif %}
                        <div class="col-4"></div>
                        <div class="col-4 text-right"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    {% endif %}
{% endblock %}