{% extends "base.html" %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
<div class="container">
    <h3>{{ organization.organization_name }} Staff List</h3>
    <div class="row border-bottom mb-3 pt-3 font-weight-bold">
        <div class="col-sm-6">Name</div>
        <div class="col-sm-6">Role</div>
    </div>
    {% for person in staff %}
    <div class="row">
        <div class="col-sm-6">{{person.user.profile.get_profile_firstlast}}</div>
        <div class="col-sm-6">
            {% for role in person.roles.all %}
            {{ role }}<br />
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}