{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load org_custom_tags %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/image_upload.css' %}">
{% endblock %}
{% block body_block %}


<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    {% if organization.organization_image %}
                    <img class="rounded-circle" src="{{ organization.organization_image.url }}" style="width: 40px; height: 40px;">
                    {% else %}
                    <span class="circle">{{ organization.organization_name|initials }}</span>
                    {% endif %}
                    <span class="h5">{{ organization.organization_name }}</span>
                    <div class="mt-1">
                    <small class="text-muted">{{ organization.city }}, {{ organization.state }}</small>
                    </div>
                    <div class="h7 text-muted">
                        <small>
                            LeagueBox URL:
                        </small>
                        <br>
                        <a href="{% url 'App_Organization:organization' slug=organization.slug %}">{% url 'App_Organization:organization' slug=organization.slug %}</a>
                    </div>
                    <div class="h7 pt-2">
                        {{ organization.description|linebreaks }}
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'App_Organization:new_event' organization.slug %}">
                                <i class="fa fa-ticket" aria-hidden="true"></i> Schedule Event
                            </a>
                        </div>
                        <div class="col-6 text-right">
                        {% if user.is_authenticated %}
                            {% if user_followed %}
                                <div class="text-right">
                                    <a href="{% url 'App_Organization:unfollow' slug=organization.slug %}" class="btn btn-secondary btn-sm">Unfollow</a>
                                </div>
                                {% else %}
                                <div class="text-right">
                                    <a href="{% url 'App_Organization:follow' slug=organization.slug %}" class="btn btn-primary btn-sm">Follow</a>
                                </div>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                    
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6 h6 text-muted">Followers</div>
                            <div class="col-6 text-right h5">{{ followers }}</div>
                        </div>
                    </li>
                    {% if admin %}
                    <li class="list-group-item">
                        <div class="row pb-1 border-bottom">
                            <div class="col-6 col-md-12 h6 text-muted">Admin Status:</div>
                            <div class="col-6 col-md-12 h6 text-right">{{ admin }}</div>
                        </div>
                        <div class="row pt-2 border-bottom">
                            <div class="col-lg-6 col-md-12 h6 text-muted">Your roles:</div>
                            <div class="col-lg-6 col-md-12 h6 text-right">                            
                                {% for role in user_roles %}
                                {{ role.0 }} {{ role.1}} <br>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-lg-8 gedf-main">
            {% if admin %}
            <!--- \\\\\\\Post-->
            <div class="card gedf-card shadow">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make
                                a publication</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Images</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ post_form|crispy }}
                                
                            
                                <div class="btn-toolbar justify-content-between">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-primary">Share</button>
                                    </div>
                                    <!-- <div class="btn-group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fa fa-globe"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Public</a>
                                            <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Friends</a>
                                            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Just me</a>
                                        </div>
                                    </div> -->
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                            <div class="file-upload">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
                                    <div class="image-upload-wrap">
                                        <input class="file-upload-input" name="image" type='file' onchange="readURL(this);" accept="image/*" id="id_image"/>
                                        <div class="drag-text">
                                            <h3>Drag and drop a file or select add Image</h3>
                                        </div>
                                    </div>
                                    <div class="file-upload-content">
                                        <img class="file-upload-image" src="#" alt="your image" />
                                        <div class="image-title-wrap">
                                            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                        </div>
                                    </div>
                                    <div class="pt-2">{{ post_image_form|crispy }}</div>
                                    
                                
                            </div>
                            <div class="btn-toolbar justify-content-between">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary">Share image</button>
                                </div>
                                <div class="btn-group">
                                    <button id="btnGroupDrop2" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i class="fa fa-globe"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop2">
                                        <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Public</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Friends</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Just me</a>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                
                </div>
            </div>
            <!-- Post /////-->
            {% endif %}

            {% for post in posts %}
            <!--- \\\\\\\Post-->
            <div class="card gedf-card" id="post_{{post.id}}">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                {% if organization.organization_image %}
                                    <img class="rounded-circle" src="{{ post.organization.organization_image.url }}" alt="" style="width: 40px; height: 40px;">
                                {% else %}
                                    <span class="circle">{{ post.organization.organization_name|initials }}</span>
                                    
                                {% endif %}
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">{{ post.organization.organization_name }}</div>
                                <!-- <div class="h7 text-muted">Miracles Lee Cross</div> -->
                            </div>
                        </div>
                        <div>
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                    <div class="h6 dropdown-header">Configuration</div>
                                    <a class="dropdown-item" href="#">Save</a>
                                    <a class="dropdown-item" href="#">Hide</a>
                                    <a class="dropdown-item" href="#">Report</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ post.created|timesince }}</div>
                    {% if not post.event %}
                    <a class="card-link" href="{% url 'App_Post:post' pk=post.pk %}">
                    {% else %}
                    <a class="card-link" href="{% url 'App_Organization:event_org_review' post.event.organization.slug post.event.pk %}">
                    {% endif %}
                        <h5 class="card-title">
                            {% if not post.event %}
                                {{ post.title }}
                            {% else %}
                                {{ post.event.organization }}
                                {% if post.event.user_org %}
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> {{ post.event.user_org }}: Event
                                {% else %}
                                    : Event
                                {% endif %}
                    {% endif %}
                            
                        </h5>
                    </a>

                    <p class="card-text">
                        {% if not post.event %}
                            {{ post.content }}
                        {% else %}
                            <strong>Event Date</strong>: {{post.event.start}} <br>
                            <p>
                                {% for cart in post.event.event_cart.all%}
                                    {% for item in cart.get_cart_items %}
                                        {{item.product.name}} x {{item.quantity}}
                                    {% endfor %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </p>
                    <p>
                        {% for image in post.postimages.all %}
                        <img class="w-100" src="{{ image.image.url }}" alt="">
                        <div>{{ image.caption }}</div>
                        {% endfor %}
                    </p>
                </div>
                <div class="card-footer">
                    {% if post.pk in liked_post_list %}
                        <a href="{% url 'App_Post:unlike' page='org' pk=post.pk %}" class="card-link"><i class="fa fa-heart" style="font-size: 18px;"></i></a>
                    {% else %}
                        <a href="{% url 'App_Post:like' page='org' pk=post.pk %}" class="card-link"><i class="fa fa-heart-o" style="font-size: 14px;"></i></a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if post.commenting %}
                            <a href="{% url 'App_Post:post' pk=post.pk%}" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                        {% endif %}
                    {% endif %}
                    <!-- <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a> -->
                </div>
            </div>
            <!-- Post /////-->
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block script_block %}
{{block.super}}
<script src="{% static 'js/image_upload.js' %}"></script>
{% endblock %}