<footer class="fixed-bottom bg-dark" style="margin-bottom: 0px;"> 
    <div class="container text-white">
        <div class="row pt-3 pb-3">
            <div class="col-6">
                <h6 class="mb-0 pb-0"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Have your own league?</h6>
                <div class="row">
                    <div class="col-12">
                        <a class="text-decoration-none text-white" style="font-size: 0.8rem;" href="{% url 'App_Organization:application' org_type='League' %}">Register Your League</a><br>
                        <a class="text-decoration-none text-white" style="font-size: 0.8rem;" href="{% url 'App_Organization:application_status' %}">Check Application Status</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <a class="text-decoration-none text-white" href="#">Some Link</a>
            </div>
        </div>
    </div>
</footer>