<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      {% if not user.is_authenticated %}
      <a href="{% url 'App_Login:login' %}">Sign In</a>
      {% endif %}
      <a href="{% url 'account_logout' %}">Sign Out</a>
      <a href="{% url 'App_Organization:my_organizations' org_type='League' %}">My Leagues</a>
      <a href="{% url 'App_Organization:my_organizations' org_type='Venue' %}">My Venues</a>
      <a href="{% url 'account_logout' %}">My Events</a>
    </div>
</div>