{% extends "m_base.html" %}
{% load static %}

    {% block body_block  %}
    <!-- Section: Carousel -->
    <style>
        #carousel-1 {
            background-image: url('{% static "images/LB_landing2.jpg" %}');
        }
        #carousel-2 {
            background-image: url('{% static "images/LB_landing5.jpg" %}');
        }
        #carousel-3 {
            background-image: url('{% static "images/LB_landing3.jpg" %}');
        }
        #carousel-4 {
            background-image: url('{% static "images/LB_landing4.jpg" %}');
        }
    </style>
    <div class="carousel carousel-slider">

        <div class="carousel-fixed-item center clearfix">
            <a id="fixedCarouselButton" class="btn btn-large waves-effect waves-light deep-orange z-depth-3">Learn More</a>
        </div>

          <div id="carousel-1" class="carousel-item white-text" href="#one!">
            <div class="primary-overlay">
                <div class="container center">
                    <h3 class="carousel-head">Welcome To LeagueBox!</h3>
                    <p class="white-text">LeagueBox is a platform that brings Leagues, Venues, and Members together</p>
                </div>
            </div>
          </div>
          <div id="carousel-2" class="carousel-item white-text" href="#Leagues">
            <div class="primary-overlay">
                <div class="container">
                    <h3 class="carousel-head">Second Panel</h3>
                    <p class="white-text">This is your third panel</p>
                </div>
            </div>
          </div>
          <div id="carousel-3" class="carousel-item white-text" href="#!">
            <div class="primary-overlay">
                <div class="container">
                    <h3 class="carousel-head">Third Panel</h3>
                    <p class="white-text">This is your third panel</p>
                </div>
            </div>
          </div>
          <div id="carousel-4" class="carousel-item white-text" href="#!">
            <div class="primary-overlay">
                <div class="container">
                    <h3 class="carousel-head">Fourth Panel</h3>
                    <p class="white-text">This is your fourth panel</p>
                </div>
            </div>
          </div>
    </div>

    <!-- Section: Icon Boxes -->
    <section class="section section-icons grey darken-2">
        <div class="container">
            <div class="row">
                <div class="col s10 offset-s1 m4">
                    <div class="card small hoverable">
                        <div class="card-content grey-text text-darken-3">
                            <div class="center"><i id="cards-icon" class="material-icons large deep-orange-text">style</i></div>
                            <h4>For Leagues:</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quidem!</p>
                        </div>
                    </div>
                </div>
                <div class="col s10 offset-s1 m4">
                    <div class="card small hoverable">
                        <div class="card-content grey-text text-darken-3">
                            <div class="center"><i class="material-icons large deep-orange-text">store</i></div>
                            <h4>For Venues:</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quidem!</p>
                        </div>
                    </div>
                </div>
                <div class="col s10 offset-s1 m4">
                    <div class="card small hoverable">
                        <div class="card-content grey-text text-darken-3">
                            <div class="center"><i class="material-icons large deep-orange-text">groups</i></div>
                            <h4>For Members:</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quidem!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="parallax-container" style="height: 400px;">
        <div class="parallax parallax-1"><img src="{% static 'images/LB_landing1.jpg'%}"></div>
    </div>

    <!-- Section: Features - Leagues -->
    <section id="Leagues" class="section section-features-leagues grey darken-4 grey-text text-lighten-2 scrollspy">
        <div class="container">
            <div class="row" style="display: flex;">
                <style>
                    .feature-image {
                        background-image: url('{% static "images/Leagues-about.jpg" %}');
                    }
                </style>
                <div class="col l5 hide-on-med-and-down feature-image" style="border-radius: 10%;">

                </div>
                <div class="col s12 m12 l6 offset-l1">
                    <i class="material-icons medium deep-orange-text" style="display: inline-flex; vertical-align: middle;">vpn_key</i>
                    <span class="feature-title" style="font-size: 2.0rem; vertical-align: middle;"> League Solutions</span>
                    <h5>Running a business is ultimately about freedom.</h5>
                    <p>Turnkey league management services take care of the most difficult tasks running your league, and let you focus on your clients and members</p>
                    <ul id="league-collapsible" class="collapsible">
                        <li>
                          <div class="collapsible-header grey-text text-darken-3"><i class="material-icons">filter_drama</i>First</div>
                          <div class="collapsible-body"><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis recusandae velit dicta vero natus aspernatur, fuga provident possimus aliquid iste.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header grey-text text-darken-3"><i class="material-icons">place</i>Second</div>
                          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header grey-text text-darken-3"><i class="material-icons">whatshot</i>Third</div>
                          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

    {% block script_block %}
    {{block.super}}
    <script>
        $(document).ready(function() {

            // Init Sidenav
            $('.sidenav').sidenav();

            // Init Carousel
            $('.carousel').carousel({
                fullWidth: true,
                indicators: true,
            });

            //Announcement Bar close
            $('#notification-close').click(function() {
                $('.notification-bar').fadeOut();
            });


            // Parallax
            $('.parallax').parallax();

            // Init collapsibles
            $('#league-collapsible').collapsible();

            // Init Login Modal
            $('#login-modal').modal();

            //Init Scrollspy
            $('.scrollspy').scrollSpy();

        });

        $('.sidenav li').click(() => {
            $('.sidenav').sidenav('close');
        })

        // Imitate scrollFire to close the announcement bar

        $(window).scroll(function() {
            if ($(this).scrollTop() > 0) {
                $('.notification-bar').hide();
            }
        });

        // Autoplay carousel / stop on hover / start on mouseleave
        var intervalId = setInterval(()=> {
            instance = M.Carousel.getInstance($('.carousel'));
            instance.next();
        }, 5000);

        $('.carousel').hover(() => {
            clearInterval(intervalId)
        });

        $('.carousel').mouseleave(() => {
            intervalId = setInterval(()=> {
                instance = M.Carousel.getInstance($('.carousel'));
                instance.next();
            }, 5000);
        });

        $('.carousel').on('touchstart', () => {
            clearInterval(intervalId)
        });

        $('.carousel').on('touchend', () => {
            intervalId = setInterval(()=> {
                instance = M.Carousel.getInstance($('.carousel'));
                instance.next();
            }, 5000);
        });

        $('#fixedCarouselButton').click(() => {
            var target = getCarouselHref();
            console.log(target)
            window.location.href = target;
        })

        var getCarouselHref = function() {
            return $('.carousel-item.active').attr('href')
        };

        $('.collapsible').click(function() {
            console.log('header clicked')
            setTimeout(function() {
                console.log($(this).children('li'))
            }, 1000)

        });




        function openLoginModal() {
            var instance = M.Modal.getInstance(document.getElementById('login-modal'));
            instance.open();
        };
    </script>
    {% endblock %}