{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/main_m.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block extrahead %}
    {% endblock %}
    {% block css_block %}
    {% endblock %}
</head>
<body>
    {% include "m_header.html" %}
    {% block body_block  %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block extra_body %}
    {% endblock %}
    {% include "m_footer.html" %}

    {% block script_block %}
    {{block.super}}
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script>
        $(document).ready(function() {
            // Get year
            var d = new Date();
            var n = d.getFullYear();
            $('#year').text(n)
        });
    </script>
    {% endblock %}
</body>
</html>