{% load static %}
    <!-- Header -->
    <header class="main-header">

        <div class="navbar-fixed">
            <!-- Announcement Bar -->
            <div class="deep-orange">
                <div class="container">
                    <div class="notification-bar white-text center">
                        <strong>This service is in BETA</strong>
                        <div id="notification-close" class="right"><i class="material-icons">close</i></div>
                    </div>
                </div>
            </div>
            <nav class="grey darken-3">
                <div class="container">
                    <div class="nav-wrapper">
                            <a href="#" class="brand-logo logo">
                                    <img class="responsive-img" src="{% static 'images/leaguebox-logo-light.png' %}" >
                            </a>
                            <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                                <i class="material-icons">menu</i>
                            </a>
                        <ul class="right hide-on-med-and-down">
                            {% if not user.is_authenticated %}
                            <li><a href="#Leagues">Leagues</a></li>
                            <li><a href="#!">Venues</a></li>
                            <li><a href="#!">Members</a></li>
                            <li><a onclick="openLoginModal()" class="btn waves-effect waves-light deep-orange modal-trigger">Login</a></li>
                            <li><a href="{% url 'App_Login:signup' %}" class="btn waves-effect waves-light grey darken-1">Sign Up</a></li>
                            {% else %}
                            <li><a href="{% url 'account_logout' %}" class="btn waves-effect waves-light grey darken-1">Log Out</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <style>
            .sidenav .background {
                background-image: url('{% static "images/Suited-Poker-Table-Felt-Black.jpg" %}');
            }
        </style>
        <ul class="sidenav" id="mobile-nav">
            <li>
                <div class="background">
                    <div class="logo-wrapper">
                        <img src="{% static 'images/leaguebox-logo-light.png' %}" >
                    </div>
                </div>
            </li>
            {% if not user.is_authenticated %}
            <li><a href="#Leagues">Leagues</a></li>
            <li><a href="#!">Venues</a></li>
            <li><a href="#!">Members</a></li>
            <li><a onclick="openLoginModal()" class="btn waves-effect waves-light deep-orange modal-trigger">Login</a></li>
            <li><a href="{% url 'App_Login:signup' %}" class="btn waves-effect waves-light grey darken-1">Sign Up</a></li>
            {% else %}
            <li><a href="{% url 'account_logout' %}" class="btn waves-effect waves-light grey darken-1">Log Out</a></li>
            {% endif %}
        </ul>
    </header>


    <!--Modal: Login -->
    <div id="login-modal" class="modal">
        <div class="modal-content">
            <h4>Account Login</h4>
            <form id="form-login-modal" action="{% url 'App_Login:login' %}" method="POST">
                {% csrf_token %}
                <div class="input-field">
                    <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="254" class="textinput textInput" required="" id="id_username">
                    <label for="username">Email</label>
                </div>
                <div class="input-field">
                    <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required="" id="id_password"
                    >
                    <label for="password">Password</label>
                </div>

        </div>
        <div class="modal-footer">
            <a href="{% url 'account_reset_password' %}" class="modal-action modal-close btn grey darken-1"><i class="material-icons modal-icon">password</i>&nbsp; Reset Password</a>
            <a id="login-submit" class="modal-action modal-close btn deep-orange"><i class="material-icons modal-icon">login</i>&nbsp; Login</a>
        </form>
        </div>
    </div>

    <!--Modal must be initialized in main template after materialize and jquery js loaded -->
    <!-- <script>
        $(document).ready(function() {

            // Init Login Modal
            $('#login-modal').modal();

        });

        function openLoginModal() {
            var instance = M.Modal.getInstance(document.getElementById('login-modal'));
            instance.open();
        };

    </script> -->

    <script>
        document.getElementById('login-submit').addEventListener('click', () => {
           console.log('clicked login')
           document.getElementById("form-login-modal").submit();
        });
    </script>