{% load static %}

<nav class="navbar navbar-dark bg-dark justify-content-between">
    <div class="container-fluid">
        <div class="navbar-nav">            
            <span>
                <a class="text-decoration-none" href="{% url 'App_Organization:home' %}">
                <img class="" src="{% static 'images/leaguebox-type-logo.png' %}" width="50px " height="50px" alt="">
                <img class="" src="{% static 'images/leaguebox-type-light.png' %}" width="150px" alt="">
                </a>
            </span>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <span onclick="openNav()"><i class="fa fa-bars fa-2x" style="color: #eee; cursor: pointer;"></i></span>
            </li>
        </ul>

    </div>
</nav>