<strong>{{ sender }}</strong> has invited you to new staff roles for <strong>{{ organization }}</strong>
<br>
<br>
Roles: <br>
{% for role in roles.all %}
&nbsp;&nbsp;&nbsp;{{ role.role }} <br>
{% endfor %}
<br>
<br>
Visit <a href="{{ domain }}{{ site }}">{{ domain }}{{ site }}</a> to accept your invitation.
<br>
Not registered? Visit <a href="{{ domain }}{{ signup }}">{{ domain }}{{ signup }}</a> to create your account and accept your invitation.