{{event.user.profile.get_profile_firstlast}} ({{event.user.email}}) has submitted a new event request to <strong>{{ event.organization }}</strong>
<br>
<br>
Requested Event: <br>
<br>
Date/Time: {{event.start}} <br>
{{ event.detail.address_1 }} <br>
{% if event.detail.address_2 %}
{{ event.detail.address_2 }} <br>
{% endif %}
{{ event.detail.city }} <br>
{{ event.detail.state }} <br>
{{ event.detail.postal_code }} <br>
{{ event.detail.phone }} <br>
{{ event.detail.requests }} <br>
<br>
<br>
The event servicing organization, <strong>{{ event.organization }}</strong>, will now review this event request. Once the review process has been completed, Leaguebox will send a payment link to {{event.user.profile.get_profile_firstlast}} ({{event.user.email}}).