{% extends "base.html" %}
{%  load crispy_forms_tags %}
{% block css_block %}
{% endblock %}
{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}

<h3 class="mb-5">{{ page_title }}</h3>
{% if invites %}
<div class="row">
{% for invite in invites %}

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="card mb-2 shadow">
            <div class="card-header">From:<strong> {{ invite.invitation.sender.profile.get_profile_firstlast }}</strong></div>
            <div class="card-body">{{invite.organization.orgtype.orgtype}}:&nbsp;
                <span class="card-title font-weight-bold">{{ invite.organization.organization_name }}</span>
                <br>
                <small>
                    ID: {{ invite.invitation.id }}<br>
                    Date Sent: {{ invite.invitation.sent_date|date:"M d, Y"}}
                </small>
                <hr>
                <h6>Roles:</h6>
                <ul class="list-group list-group-flush">
                    
                    {% for role in invite.roles.all %}
                        <li class="list-group-item">{{ role.role }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-8">Expires: <br>{{ invite.invitation.expire_date}}</div>
                        <div class="col-2 text-right p-1"><a href="{% url 'App_Invitation:accept_invite' pk=invite.invitation.id %}" class="text-success"><i class="fa fa-plus-square fa-2x"></i></a></div>
                        <div class="col-2 text-center p-1"><a href="{% url 'App_Invitation:decline_invite' pk=invite.invitation.id %}" class="text-danger"><i class="fa fa-minus-square fa-2x"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
</div>
{% endif %}
{% endblock %}