{% extends "base.html" %}
{%  load crispy_forms_tags %}
{% load org_custom_tags %}
{% block title %}
    {{ page_title }}
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 gedf-main">
        <!--- \\\\\\\Post-->
        <div class="card gedf-card shadow" id="post_{{post.id}}">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            <a href="{% url 'App_Organization:organization' slug=post.organization.slug %}">
                            {% if organization.organization_image %}
                                <img class="rounded-circle" src="{{ post.organization.organization_image.url }}" alt="" style="width: 40px; height: 40px;">
                            {% else %}
                                <span class="circle">{{ post.organization.organization_name|initials }}</span>
                                
                            {% endif %}
                            </a>
                        </div>
                        <div class="ml-2">
                            <a href="{% url 'App_Organization:organization' slug=post.organization.slug %}">
                                <div class="h5 m-0">{{ post.organization.organization_name }}</div>
                            </a>
                            <!-- <div class="h7 text-muted">Miracles Lee Cross</div> -->
                        </div>
                    </div>
                    {% if admin %}
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                <div class="h6 dropdown-header">Configuration</div>
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Hide</a>
                                <a class="dropdown-item" href="#">Report</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

            </div>
            <div class="card-body">
                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ post.created|timesince }}</div>
                {% if post.title %}
                <a class="card-link" href="#">
                    <h5 class="card-title">{{ post.title |safe}}</h5>
                </a>
                {% endif %}
                {% if post.content %}
                <p class="card-text">
                {{ post.content |safe}}
                </p>
                {% endif %}
                <p>
                    {% for image in post.postimages.all %}
                    <img class="w-100" src="{{ image.image.url }}" alt="">
                    <div>{{ image.caption }}</div>
                    {% endfor %}
                </p>
            </div>
            <div class="card-footer">
                {% if user.is_authenticated %}
                    {% if post.pk in liked_post_list %}
                        <a href="{% url 'App_Post:unlike' page='post' pk=post.pk %}" class="card-link"><i class="fa fa-heart" style="font-size: 14px;"></i></a>
                    {% else %}
                        <a href="{% url 'App_Post:like' page='post' pk=post.pk %}" class="card-link"><i class="fa fa-heart-o" style="font-size: 14px;"></i></a>
                    {% endif %}
                {% endif %}
                <!-- <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a> -->
            </div>
            {% if user.is_authenticated %}
                <div class="card-footer" id="comment_form">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" type="submit">Post Comment</button>
                    </form>
                </div>
            {% endif %}
            {% if comments %}
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="row border m-1">
                        <div class="col-10">
                            <div class="row px-2">
                                <div class="col-12">
                                    {% if comment.hidden %}
                                    <div class="py-2 text-muted">
                                    {% else %}
                                    <div class="py-2">  
                                    {% endif %}
                                        <span class="circle">
                                            {{ comment.user.profile.display_name|initials }}
                                        </span>
                                        <span class="h6">@{{ comment.user.profile.display_name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 pt-2">
                            {% if admin %}
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop2">
                                        <div class="h6 dropdown-header">Action</div>
                                        
                                            <a class="dropdown-item" href="{% url 'App_Post:toggle_hide' page='post' postpk=post.pk pk=comment.pk %}">
                                                {% if comment.pk in hidden_comments_list %}
                                                Unhide
                                                {% else %}
                                                Hide
                                                {% endif %}
                                            </a>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% if comment.hidden %}
                            <div class="col-12 ml-2 text-muted">
                            <div style="font-size: x-small;">This comment is hidden</div>
                        {% else %}
                            <div class="col-12 ml-2">
                        {% endif %}
                                <div>{{ comment.comment|linebreaks }}</div>
                            </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- Post /////-->
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}